@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css");
a {
  text-decoration: none;
}

@font-face {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css");
}
/* Variables */
/* Variables end.*/
body {
  font: 100% "Pretendard Variable";
}

.point-1 {
  color: #32a061;
}

.point-2 {
  color: #f46b2a;
}

.green-1 {
  color: #ecfbd4;
}

.green-2 {
  color: #defae4;
}

.green-3 {
  color: #2e8654;
}

.green-4 {
  color: #5ac479;
}

.green-5 {
  color: #94dfb6;
}

.yellow-1 {
  color: #fff9f0;
}

.yellow-2 {
  color: #fffeec;
}

.gray-1 {
  color: #f2f3f5;
}

.gray-2 {
  color: #9da1a6;
}

.gray-3 {
  color: #495057;
}

.gray-4 {
  color: #212529;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.bg-point-1 {
  background-color: #32a061;
}

.bg-point-2 {
  background-color: #f46b2a;
}

.bg-green-1 {
  background-color: #ecfbd4;
}

.bg-green-2 {
  background-color: #defae4;
}

.bg-green-3 {
  background-color: #2e8654;
}

.bg-green-4 {
  background-color: #5ac479;
}

.bg-green-5 {
  background-color: #94dfb6;
}

.bg-yellow-1 {
  background-color: #fff9f0;
}

.bg-yellow-2 {
  background-color: #fffeec;
}

.bg-gray-1 {
  background-color: #f2f3f5;
}

.bg-gray-2 {
  background-color: #9da1a6;
}

.bg-gray-3 {
  background-color: #495057;
}

.bg-gray-4 {
  background-color: #212529;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.tt1 {
  font-size: 40px;
}

.tt2 {
  font-size: 32px;
}

.tt3 {
  font-size: 28px;
}

.tt4 {
  font-size: 24px;
}

.tt5 {
  font-size: 20px;
}

.tt6 {
  font-size: 16px;
}

.tt7 {
  font-size: 14px;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.sm-shadow {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
}

.mb-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.web-shadow {
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
}

.sm-radius {
  border-radius: 5px;
}

.md-radius {
  border-radius: 10px;
}

.lg-radius {
  border-radius: 20px;
}

.w-green-btn {
  background: none;
  font-size: 16px;
  color: #32a061;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #32a061;
  transition: 0.3s;
  line-height: 16px;
}
.w-green-btn:hover {
  color: #fff;
  background: #32a061;
}

.w-red-btn {
  background: none;
  font-size: 16px;
  color: #f46b2a;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #f46b2a;
  transition: 0.3s;
  line-height: 16px;
}
.w-red-btn:hover {
  color: #fff;
  background: #f46b2a;
}

.w-gray-btn {
  background: none;
  font-size: 16px;
  color: #495057;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #495057;
  transition: 0.3s;
  line-height: 16px;
}
.w-gray-btn:hover {
  color: #fff;
  background: #495057;
}

.m-green-btn {
  background: none;
  font-size: 11px;
  color: #32a061;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #32a061;
  transition: 0.3s;
  line-height: 11px;
}
.m-green-btn:hover {
  color: #fff;
  background: #32a061;
}

.m-red-btn {
  background: none;
  font-size: 11px;
  color: #f46b2a;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #f46b2a;
  transition: 0.3s;
  line-height: 11px;
}
.m-red-btn:hover {
  color: #fff;
  background: #f46b2a;
}

.m-gray-btn {
  background: none;
  font-size: 11px;
  color: #495057;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #495057;
  transition: 0.3s;
  line-height: 11px;
}
.m-gray-btn:hover {
  color: #fff;
  background: #495057;
}

.w-badge {
  background: #495057;
  font-size: 16px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 66px;
  transition: 0.2s;
  opacity: 0.2;
}
.w-badge:hover {
  opacity: 0.5;
}

.m-badge {
  background: #495057;
  font-size: 11px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 66px;
  transition: 0.2s;
  opacity: 0.2;
}
.m-badge:hover {
  opacity: 0.5;
}

.pagination .pagination {
  color: #9da1a6;
  display: inline-flex;
  padding: 0;
}
.pagination .pagination .page-item {
  font-size: 16px;
  border: 1px solid #9da1a6;
  color: #9da1a6;
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.pagination .pagination .page-item:hover {
  background-color: #9da1a6;
  color: #fff;
}
.pagination .pagination .page-item.active {
  background-color: #495057;
  color: #fff;
}
.pagination .pagination .first-page,
.pagination .pagination .last-page {
  padding: 5px 20px;
}
.pagination .pagination .first-page {
  border-radius: 5px 0px 0px 5px;
}
.pagination .pagination .last-page {
  border-radius: 0px 5px 5px 0px;
}

.mb-pagination .pagination {
  color: #9da1a6;
  display: inline-flex;
  padding: 0;
}
.mb-pagination .pagination .page-item {
  font-size: 11px;
  border: 1px solid #9da1a6;
  color: #9da1a6;
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.mb-pagination .pagination .page-item:hover {
  background-color: #9da1a6;
  color: #fff;
}
.mb-pagination .pagination .page-item.active {
  background-color: #495057;
  color: #fff;
}
.mb-pagination .pagination .first-page,
.mb-pagination .pagination .last-page {
  padding: 5px 20px;
}
.mb-pagination .pagination .first-page {
  border-radius: 5px 0px 0px 5px;
}
.mb-pagination .pagination .last-page {
  border-radius: 0px 5px 5px 0px;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

header {
  padding: 72px 0;
}
header div {
  position: relative;
}
header div h1 a {
  margin: 0 auto;
  background-image: url(../asset/logo.png);
  width: 148px;
  height: 42px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
header div aside {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
}
header div aside button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
}
header div aside .loginout {
  margin-right: 20px;
}
header div aside .mypage {
  background-image: url(../asset/mypage-icon.png);
  width: 30px;
  height: 30px;
  display: block;
  text-indent: -9999rem;
  margin-right: 10px;
}
header nav {
  margin: 63px auto 0;
  width: 648px;
  display: flex;
  justify-content: center;
  padding: 26px 100px;
  box-sizing: border-box;
  border: 1px solid #32a061;
  border-radius: 36px;
  position: relative;
  z-index: 100;
}
header nav a {
  color: #32a061;
}
header nav > ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 100px;
}
header nav > ul:hover ul {
  display: flex;
}
header nav > ul a.big-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav > ul a.big-menu .icon.meal {
  width: 15px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/meal-icon.png);
  background-repeat: no-repeat;
}
header nav > ul a.big-menu .icon.health {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/health-icon.png);
  background-repeat: no-repeat;
}
header nav > ul a.big-menu .icon.community {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/community-icon.png);
  background-repeat: no-repeat;
}
header nav > ul li {
  position: relative;
}
header nav > ul li ul {
  display: none;
  position: absolute;
  top: 72px;
  text-align: center;
  white-space: nowrap;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}
header nav > ul:before {
  content: "";
  opacity: 1;
  display: block;
  width: 646px;
  height: 74px;
  position: absolute;
  background-color: #f2f3f5;
  border-left: 1px solid #32a061;
  border-right: 1px solid #32a061;
  border-bottom: 1px solid #32a061;
  top: 0;
  left: -1px;
  border-radius: 36px;
  z-index: 0;
}
header nav > ul:after {
  transition: opacity 0.2s ease-in;
  content: "";
  opacity: 0;
  display: block;
  width: 646px;
  height: 176px;
  position: absolute;
  background-color: #f2f3f5;
  border-left: 1px solid #32a061;
  border-right: 1px solid #32a061;
  border-bottom: 1px solid #32a061;
  top: 0;
  left: -1px;
  border-radius: 36px;
  z-index: -1;
}
header nav > ul:hover:after {
  opacity: 1;
  z-index: -1;
}

footer {
  padding: 36px 0;
  background-color: #32a061;
  color: #fff;
  font-size: 14px;
  margin-top: 120px;
}
footer div {
  display: flex;
  justify-content: space-between;
}
footer div h2 a {
  background-image: url(../asset/logo-small-white.png);
  height: 22px;
  width: 74px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
footer div ul {
  display: flex;
  gap: 12px;
}
footer div ul li {
  position: relative;
}
footer div ul li + li::after {
  position: absolute;
  top: 3px;
  left: -6.5px;
  content: "";
  display: block;
  border-left: 1px solid #fff;
  width: 1px;
  height: 14px;
}
footer div a {
  color: #fff;
}

button {
  cursor: pointer;
}

body {
  background-color: #f2f3f5;
}

/* weekly */
.weekly-wrap {
  width: 350px;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.daylist {
  margin: 0 2px;
  width: 45px;
  padding: 15px 0;
  border-radius: 46px;
  transition: 0.3s;
  text-align: center;
  box-sizing: border-box;
}
.daylist .weak {
  color: #9da1a6;
  margin-bottom: 20px;
  font-size: 14px;
}
.daylist .day {
  font-weight: 500;
}
.daylist .Sat {
  color: rgb(64, 82, 129);
}
.daylist .Sun {
  color: #f46b2a;
}
.daylist:hover {
  background: #5ac479;
  color: #ebf4ff;
}
.daylist:hover .weak,
.daylist:hover .day {
  color: #fff;
}
.daylist:hover .Sat {
  color: #ebf4ff;
}
.daylist:hover .Sun {
  color: #ff6363;
}

.daylist.today {
  box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
}

.week-btns {
  top: 50%;
}

.week-btns button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(34, 72, 97, 0.5176470588);
}

.prev {
  left: -22px;
}

.next {
  right: -22px;
}

.Calendar {
  margin: 60px 0 30px;
  position: relative;
}
.Calendar .sec-tt {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
}

.Community .hidden {
  display: none;
}
.Community .show {
  display: block;
}
.Community .bold {
  font-weight: bold;
}
.Community .pd {
  padding: 48px 0;
}
.Community .mg-t1 {
  margin-top: 24px;
}
.Community .mg-t2 {
  margin-top: 48px;
}
.Community .mg-t3 {
  margin-top: 72px;
}
.Community .mg-r1 {
  margin-right: 5px;
}
.Community .icon-sm {
  width: 15px;
}
.Community img {
  display: inline-block;
}
.Community a {
  color: #000;
  display: block;
}
.Community a:hover {
  font-weight: bold;
}
.Community input {
  border: none;
  font-family: "Pretendard-Regular";
  box-sizing: border-box;
  font-size: 16px;
}
.Community input:focus {
  outline: none;
}
.Community input:focus::-moz-placeholder {
  color: transparent;
}
.Community input:focus::placeholder {
  color: transparent;
}
.Community table {
  width: 100%;
  text-align: center;
}
.Community table .link {
  text-align: left;
}
.Community table th, .Community table td {
  padding: 15px 0;
}
.Community table tr {
  background: #fff;
  border-bottom: 1px solid #dcdbdb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  gap: 24px;
}
.Community table tr:first-child {
  border-top: 1px solid #dcdbdb;
}

button {
  border: none;
  background: transparent;
  padding: 0;
}

.search {
  position: relative;
}
.search input {
  border-radius: 50px;
  padding: 15px 50px;
  width: 100%;
}
.search input:focus {
  box-shadow: 0px 0px 0px 5px rgba(148, 223, 182, 0.35);
  transition: 0.3s;
}
.search button {
  position: absolute;
  left: 15px;
  bottom: 13px;
  font-size: 20px;
}

.pagination {
  text-align: center;
}

/* Free Board */
.fb-banner img {
  margin-right: 112px;
  height: 190px;
}

.fb-banner-content {
  width: 50%;
}

.free-select {
  position: relative;
  width: 100px;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #32a061;
  text-align: center;
}
.free-select ul {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  border-radius: 66px;
  border: 1px solid #32a061;
  cursor: pointer;
}
.free-select ul li {
  padding: 5px 15px;
  cursor: pointer;
}

.news-box {
  width: 50%;
  background: #fff;
  padding: 24px;
  gap: 24px;
}
.news-box img {
  width: 25%;
  border-radius: 10px;
  /* object-fit: cover; */
}

.news-md {
  margin: 10px 0 20px 0;
}

.free-td-1,
.free-td-2,
.free-td-6,
.free-td-7 {
  flex: 1;
}

.free-td-4,
.free-td-5 {
  flex: 1.5;
}

.free-td-3 {
  flex: 10;
}

/* Q&A */
.top-posts {
  padding: 24px;
  width: 37%;
}

.posts-box {
  margin-top: 16px;
  flex-direction: column;
  gap: 4px;
}
.posts-box p {
  background: #fff;
  padding: 8px;
  border-radius: 10px;
}

.qna-category {
  background: #fff;
  font-size: 1rem;
  border-radius: 60px;
  padding: 13px 20px;
  color: #32a061;
  font-weight: bold;
  border: none;
  opacity: 1;
}

table.pna-list img {
  width: 30px;
}

.qna-td-1 {
  flex: 1;
}

.qna-td-2,
.qna-td-6,
.qna-td-7,
.qna-td-8 {
  flex: 1.5;
}

.qna-td-5 {
  flex: 2;
}

.qna-td-4 {
  flex: 3;
}

.qna-td-3 {
  flex: 12;
  text-align: left;
}

/* Q&A Detail */
.q-card {
  background: #fff;
  padding: 48px;
  gap: 24px;
}
.q-card img {
  height: 50px;
}

.q-content {
  flex-direction: column;
}

.q-tt {
  margin-top: 13px;
}

.q-info {
  margin: 24px 0 36px 0;
  gap: 24px;
}
.q-info img {
  display: inline;
}

.reply-form {
  position: relative;
}
.reply-form #reply {
  padding: 24px 48px;
  border-radius: 20px;
  width: 100%;
}
.reply-form button {
  position: absolute;
  right: 48px;
  bottom: 22px;
  font-size: 20px;
}

.a-frame {
  flex-direction: column;
  align-items: flex-end;
}
.a-frame .a-box {
  width: 90%;
  flex-direction: column;
  gap: 24px;
}
.a-frame .a-tt {
  margin-left: 36px;
  align-items: center;
  gap: 10px;
}
.a-frame .a-tt img {
  width: 24px;
}
.a-frame .a-card {
  background: #fffeec;
  padding: 36px;
  gap: 24px;
}
.a-frame .a-card img {
  height: 40px;
}/*# sourceMappingURL=community.css.map */