@import "common";

//common
.Community{
  .hidden{
    display: none;
  }
  .show{
    display: block;
  }
  .bold{
    font-weight: bold;
  }
  .pd{
    padding: 48px 0;
  }
  .mg-t1{
    margin-top: $unit-1;
  }
  .mg-t2{
    margin-top: $unit-2;
  }
  .mg-t3{
    margin-top: $unit-3;
  }
  .mg-r1{
    margin-right: 5px;
  }
  .icon-sm{
    width: 15px;
  }
  img{
    display: inline-block;
  }
  a{
    color: #000;
    display: block;
    &:hover{
      font-weight: bold;
    }
    // &:focus{
    // color: #32a061;
    // font-weight: 500;
    // }
  }
  input{
    border: none;
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
    font-size: $web-tt;
    &:focus{
      outline: none;
    }
    &:focus::placeholder{
      color:transparent;
    }
  }
  table{
    width: 100%;
    text-align: center;
    .link{
      text-align: left;
    }
    th, td{
      padding: 15px 0;
    }
    tr{
      background: #fff;
      border-bottom: 1px solid #dcdbdb;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      gap: 24px;
      &:first-child{
        border-top: 1px solid #dcdbdb;
      }
    }
  }
  
}
button{
  border: none;
  background: transparent;
  padding: 0;
}
.search{
  position: relative;
  input{
    border-radius: 50px;
    padding: 15px 50px;
    width: 100%;
    &:focus{
      box-shadow: 0px 0px 0px 5px rgba(148, 223, 182, 0.35);
      transition: 0.3s;
    }
  }
  button{
    position: absolute;
    left: 15px;
    bottom: 13px;
    font-size: 20px;
  }
} 
.pagination{
  text-align: center;
}

/* Free Board */
.fb-banner img{
  margin-right: 112px;
  height: 190px;
}
.fb-banner-content{
  width: 50%;
}
.free-select{
  margin-right: 16px;
  input{
    caret-color: transparent;
  }
  .css-1fdsijx-ValueContainer{
    padding: 2px 0px 2px 15px;
  }
  .css-1u9des2-indicatorSeparator{
    display: none;
  }
  svg{
    color: $point-1;
  }
}
.news-frame{
  justify-content: space-between;
  flex-wrap: wrap;
  .news-box{
    width: 45.4%;
    background: #fff;
    padding: 24px;
    gap: 24px;
    img{
      width: 25%;
      border-radius: 10px;
      /* object-fit: cover; */
    }
  }
  .news-date{
    margin: 10px 0 20px 0;
  }
  .news-category{
    ul {
      li{
        cursor: pointer;
        .active,
        &:hover{
          font-weight: bold;
          &::after{
            font-weight: normal;
          }
        }
        &:not(:last-child)::after{
          content: '|';
          padding: 0 16px;
          color: $gray-2;
        }
      }
    }
  }
}
.free-td-1{
  flex: 1;
}
.free-td-6,
.free-td-7{
  flex: 1.2;
}
.free-td-2,
.free-td-5{
  flex: 1.5;
}
.free-td-4{
  flex: 2;
}
.free-td-3{
  flex: 9;
}

/* Q&A */
.top-posts{
  padding: 24px;
  width: 37%;
}
.posts-box{
  margin-top: 16px;
  flex-direction:column;
  gap: 4px;
  p{
    background: #fff;
    padding: 8px;
    border-radius: 10px;
  }
}
.qna-category{
  background: #fff;
  font-size: 1rem;
  border-radius: 60px;
  padding: 13px 20px;
  color: #32a061;
  font-weight: bold;
  border: none;
  opacity: 1;
}
table.pna-list img{
  width: 30px;
}
.qna-td-1{
  flex: 1;
}
.qna-td-2,
.qna-td-6,
.qna-td-7,
.qna-td-8{
  flex: 1.5;
}
.qna-td-5{
  flex: 2;
}
.qna-td-4{
  flex: 3;
}
.qna-td-3{
  flex: 12;
  text-align: left;
}

/* Q&A Detail */
.q-card{
  background: #fff;
  padding: 48px;
  gap: 24px;
  img{
    height: 50px;
  }
}
.q-content{
  flex-direction:column;
}
.q-tt{
  margin-top: 13px;
}
.q-info{
  margin: 24px 0 36px 0;
  gap: 24px;
  img{
    display:inline;
  }
}

.reply-form{
  position: relative;
  #reply{
    padding: 24px 48px;
    border-radius: 20px;
    width: 100%;
  }
  button{
    position: absolute;
    right: 48px;
    bottom: 22px;
    font-size: 20px;
  }
}

.a-frame{
  flex-direction: column;
  align-items: flex-end;
  .a-box{
    width: 90%;
    flex-direction: column;
    gap: 24px;
  }
  .a-tt{
    margin-left: 36px;
    align-items: center;
    gap: 10px;
    img{
      width: 24px;
    }
  }
  .a-card{
    background: #fffeec;
    padding: 36px;
    gap: 24px;
    img{
      height: 40px;
    }
  }
}