@import "common";

//common
.Community{
  .hidden{
    display: none;
  }
  .show{
    display: block;
  }
  .bold{
    font-weight: bold;
  }
  .pd{
    padding: 48px 0;
  }
  .mg-t1{
    margin-top: $unit-1;
  }
  .mg-t2{
    margin-top: $unit-2;
  }
  .mg-t3{
    margin-top: $unit-3;
  }
  .mg-r1{
    margin-right: 5px;
  }
  .icon-sm{
    width: 15px;
  }
  img{
    display: inline-block;
  }
  .level-img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: bottom;
  }
  a{
    color: #000;
    display: block;
    // &:hover{
    //   font-weight: bold;
    // }
    // &:focus{
    // color: #32a061;
    // font-weight: 500;
    // }
  }
  .link{
    text-align: left;
    &:hover{
      font-weight: bold;
    }
  }
  input{
    border: none;
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
    font-size: $web-tt;
    &:focus{
      outline: none;
    }
    &:focus::placeholder{
      color:transparent;
    }
  }
  table{
    width: 100%;
    text-align: center;
    th, td{
      padding: 15px 0;
    }
    tr{
      background: $white;
      border-bottom: 1px solid #dcdbdb;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      gap: 24px;
      &:first-child{
        border-top: 1px solid #dcdbdb;
      }
    }
  }
  .w-green-btn{
    padding: 9px 15px;
  }
}
button{
  border: none;
  background: transparent;
  padding: 0;
}
.search{
  position: relative;
  input{
    border-radius: 50px;
    padding: 15px 50px;
    width: 100%;
    &:focus{
      box-shadow: 0px 0px 0px 5px rgba(148, 223, 182, 0.35);
      transition: 0.3s;
    }
  }
  button{
    position: absolute;
    left: 15px;
    bottom: 13px;
    font-size: 20px;
  }
} 
.pagination{
  text-align: center;
}

/* Free Board */
.fb-banner img{
  margin-right: 112px;
  height: 190px;
}
.fb-banner-content{
  width: 50%;
}
.free-select{
  margin-right: 16px;
  input{
    caret-color: transparent;
  }
  .css-1fdsijx-ValueContainer{
    padding: 2px 0px 2px 15px;
  }
  .css-1u9des2-indicatorSeparator{
    display: none;
  }
  svg{
    color: $point-1;
  }
}
@mixin text-opt($line: 2){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
.news-frame{
  justify-content: space-between;
  flex-wrap: wrap;
  .news-box{
    width: 45.4%;
    height: 168px;
    background: #fff;
    padding: 24px;
    gap: 24px;
    img{
      width: 168px;
      height: 168px;
      border-radius: 10px;
      object-fit: cover;
    }
    a:hover{
      font-weight: normal;
    }
    &:hover{
      transform: translateY(-10px);
      transition: 0.3s;
    }
  }
  .news-date{
    margin: 8px 0 12px 0;
  }
  .news-tt{
    @include text-opt;
  }
  .news-content{
    @include text-opt($line: 4);
  }
}
.news-category{
  ul {
    li{
      cursor: pointer;
      &.active,
      &:hover{
        font-weight: bold;
        &::after{
          font-weight: normal;
        }
      }
      &:not(:last-child)::after{
        content: '|';
        padding: 0 16px;
        color: $gray-2;
      }
    }
  }
}
.free-td-1{
  flex: 1;
}
.free-td-6,
.free-td-7{
  flex: 1.2;
}
.free-td-2,
.free-td-5{
  flex: 1.5;
}
.free-td-4{
  flex: 2.5;
  text-align: left;
}
.free-td-3{
  flex: 9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

/* Q&A */
.Qna-banner{
  position: relative;
  width: 100%;
}
.Qna-banner-content{
  width: 55%;
}
.top-posts{
  position: absolute;
  width: 37%;
  top: 0;
  right: 0;
  padding: 24px;
  .posts-box{
    margin-top: 16px;
    flex-direction:column;
    gap: 4px;
    p{
      background: $white;
      padding: 8px;
      border-radius: 10px;
    }
    .posts-number{
      margin-right: 10px;
    }
  }
  // .posts-tt{
  //   @include text-opt($line: 2);
  //   &:after{
  //     content: '\00a0'; /* 공백 문자를 추가하여 b 태그의 내용이 보이도록 함 */
  //   }
  // }
}
// .posts-tt {
//   display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
//   white-space: normal; /* b 태그의 내용이 공백 문자를 포함해야 함 */
// }
// .posts-tt b::after {
//   content: '\00a0'; /* 공백 문자를 추가하여 b 태그의 내용이 보이도록 함 */
// }

.qna-category{
  background: $white;
  font-size: 1rem;
  border-radius: 60px;
  padding: 13px 20px;
  color: $point-1;
  font-weight: bold;
  border: none;
  opacity: 1;
  margin-right: 10px;
}
.pna-list .qna-td-1 img{
  width: 30px;
}
.qna-td-1,
.qna-td-2{
  flex: 1;
}
.qna-td-6,
.qna-td-7,
.qna-td-8{
  flex: 1.5;
}
.qna-td-5{
  flex: 2;
}
.qna-td-4{
  flex: 3;
  text-align: left;
}
.qna-td-3{
  flex: 10;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

/* Q&A View */
.q-card{
  background: $white;
  padding: 48px;
  gap: 24px;
  img{
    height: 50px;
  }
}
.q-content{
  flex-direction:column;
}
.q-tt{
  margin-top: 13px;
}
.q-info{
  margin: 24px 0 36px 0;
  gap: 24px;
  align-items: center;
  img{
    display:inline;
  }
}

.reply-form{
  position: relative;
  #reply{
    padding: 24px 48px;
    border-radius: 20px;
    width: 100%;
  }
  button{
    position: absolute;
    right: 48px;
    bottom: 22px;
    font-size: 20px;
  }
}

.a-frame{
  flex-direction: column;
  align-items: flex-end;
  .a-box{
    width: 90%;
    flex-direction: column;
    gap: 24px;
  }
  .a-tt{
    margin-left: 36px;
    align-items: center;
    gap: 10px;
    img{
      width: 24px;
    }
  }
  .a-card{
    background: $yellow-2;
    padding: 36px;
    gap: 24px;
    img{
      height: 40px;
    }
  }
}