//reset
@import url("reset.css");

a {
  text-decoration: none;
}

//font
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css");

@font-face {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css");
}
/* Variables */
//Colors
$point-1: #32a061;
$point-2: #f46b2a;
$green-1: #ecfbd4;
$green-2: #defae4;
$green-3: #2e8654;
$green-4: #5ac479;
$green-5: #94dfb6;
$yellow-1: #fff9f0;
$yellow-2: #fffeec;
$gray-1: #f2f3f5;
$gray-2: #9da1a6;
$gray-3: #495057;
$gray-4: #212529;
$white: #fff;
$black: #000;

// Typography
$font-stack: "Pretendard Variable";
$web-tt: 16px;
$web-sm-tt: 14px;
$mb-tt: 11px;

$font-40: 40px;
$font-32: 32px;
$font-28: 28px;
$font-24: 24px;
$font-20: 20px;
$font-16: 16px;
$font-14: 14px;
$font-13: 13px;

@mixin font-size($size) {
  font-size: $size;
}

//layout
//normal unit
$unit-1: 24px;
$unit-2: calc($unit-1 * 2); //48
$unit-3: calc($unit-1 * 3); //72
$unit-4: calc($unit-1 * 4); //96
$unit-5: calc($unit-1 * 5); //120
$unit-8: calc($unit-1 * 8); //192
//small unit
$unit-s-1: 5px;
$unit-s-2: calc($unit-s-1 * 2); //10
$unit-s-3: calc($unit-s-1 * 3); //15
$unit-s-4: calc($unit-s-1 * 4); //20
$unit-s-8: calc($unit-s-1 * 8); //40

.mb-5 {
  margin-bottom: $unit-5;
}

/* Variables end.*/

body {
  font: 100% $font-stack;
}

// Colors
.point-1 {
  color: $point-1;
}

.point-2 {
  color: $point-2;
}

.green-1 {
  color: $green-1;
}

.green-2 {
  color: $green-2;
}

.green-3 {
  color: $green-3;
}

.green-4 {
  color: $green-4;
}

.green-5 {
  color: $green-5;
}

.yellow-1 {
  color: $yellow-1;
}

.yellow-2 {
  color: $yellow-2;
}

.gray-1 {
  color: $gray-1;
}

.gray-2 {
  color: $gray-2;
}

.gray-3 {
  color: $gray-3;
}

.gray-4 {
  color: $gray-4;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

// Background
.bg-point-1 {
  background-color: $point-1;
}

.bg-point-2 {
  background-color: $point-2;
}

.bg-green-1 {
  background-color: $green-1;
}

.bg-green-2 {
  background-color: $green-2;
}

.bg-green-3 {
  background-color: $green-3;
}

.bg-green-4 {
  background-color: $green-4;
}

.bg-green-5 {
  background-color: $green-5;
}

.bg-yellow-1 {
  background-color: $yellow-1;
}

.bg-yellow-2 {
  background-color: $yellow-2;
}

.bg-gray-1 {
  background-color: $gray-1;
}

.bg-gray-2 {
  background-color: $gray-2;
}

.bg-gray-3 {
  background-color: $gray-3;
}

.bg-gray-4 {
  background-color: $gray-4;
}

.bg-white {
  background-color: $white;
}

.bg-black {
  background-color: $black;
}

// Typography
.tt1 {
  @include font-size($font-40);
}

.tt2 {
  @include font-size($font-32);
}

.tt3 {
  @include font-size($font-28);
}

.tt4 {
  @include font-size($font-24);
}

.tt5 {
  @include font-size($font-20);
}

.tt6 {
  @include font-size($font-16);
}

.tt7 {
  @include font-size($font-14);
}

// Layout
.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

// Shadow
.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.sm-shadow {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
}

.mb-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.web-shadow {
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
}

//Radius
.sm-radius {
  border-radius: 5px;
}

.md-radius {
  border-radius: 10px;
}

.lg-radius {
  border-radius: 20px;
}

//Buttons
@mixin btn($btn-c: $point-1, $btn-t: 16px) {
  background: none;
  font-size: $btn-t;
  color: $btn-c;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid $btn-c;
  transition: 0.3s;
  line-height: $btn-t;
  &:hover {
    color: #fff;
    background: $btn-c;
  }
}

.w-green-btn {
  @include btn;
}

.w-red-btn {
  @include btn($btn-c: $point-2);
}

.w-gray-btn {
  @include btn($btn-c: $gray-3);
}

.m-green-btn {
  @include btn($btn-t: 11px);
}

.m-red-btn {
  @include btn($btn-c: $point-2, $btn-t: 11px);
}

.m-gray-btn {
  @include btn($btn-c: $gray-3, $btn-t: 11px);
}

//Badge
@mixin badge($badge-t: 16px) {
  background: $gray-3;
  font-size: $badge-t;
  color: $white;
  padding: 5px 15px;
  border-radius: 66px;
  transition: 0.2s;
  opacity: 0.2;

  &:hover {
    opacity: 0.5;
  }
}

.w-badge {
  @include badge;
}

.m-badge {
  @include badge(11px);
}

//Pagination
@mixin pagination($size: 16px) {
  .pagination {
    color: $gray-2;
    display: inline-flex;
    padding: 0;

    .page-item {
      font-size: $size;
      border: 1px solid $gray-2;
      color: $gray-2;
      padding: 5px 10px;
      list-style: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $gray-2;
        color: $white;
      }
    }

    .page-item.active {
      background-color: $gray-3;
      color: $white;
    }
    .first-page,
    .last-page {
      padding: 5px 20px;
    }

    .first-page {
      border-radius: 5px 0px 0px 5px;
    }

    .last-page {
      border-radius: 0px 5px 5px 0px;
    }
  }
}

.pagination {
  @include pagination;
}

.mb-pagination {
  @include pagination($size: 11px);
}

//container
.container {
  width: 1320px;
  margin: 0 auto;
}

@media (max-width: 480px){
  .container{
    width: 100%;
  }
}

//header
@mixin icon($width, $url) {
  width: $width;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: $url;
  background-repeat: no-repeat;
}
@mixin button($url) {
  background-image: $url;
  width: 30px;
  height: 30px;
  display: block;
  text-indent: -9999rem;
  margin-right: 10px;
}

header.web {
  padding: $unit-2 0;

  div {
    position: relative;

    h1 {
      a {
        margin: 0 auto;
        background-image: url(../asset/logo.png);
        width: 148px;
        height: 42px;
        display: block;
        background-size: cover;
        text-indent: -9999rem;
      }
    }

    aside {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(50%);

      button {
        font-size: $web-tt;
        border: none;
        background-color: transparent;
        padding: 0;
      }
      .loginout {
        margin-right: 20px;
      }
      .mypage {
        @include button(url(../asset/mypage-icon.png));
      }
    }
  }

  nav {
    margin: 63px auto 0;
    width: 648px;
    display: flex;
    justify-content: center;
    padding: 26px 100px;
    box-sizing: border-box;
    border: 1px solid $point-1;
    border-radius: calc($unit-3/2);
    position: relative;
    z-index: 100;
    a {
      color: $point-1;
    }
    > ul {
      display: flex;
      flex-wrap: nowrap;
      gap: 100px;
      &:hover ul {
        display: flex;
      }

      a.big-menu {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon.meal {
          @include icon(15px, url(../asset/meal-icon.png));
        }
        .icon.health {
          @include icon(20px, url(../asset/health-icon.png));
        }
        .icon.community {
          @include icon(20px, url(../asset/community-icon.png));
        }
      }
      li {
        position: relative;
        ul {
          display: none;
          position: absolute;
          top: $unit-3;
          text-align: center;
          white-space: nowrap;
          flex-direction: column;
          gap: 10px;
          z-index: 10;
        }
      }
    }
    > ul:before {
      content: "";
      opacity: 1;
      display: block;
      width: 646px;
      height: 74px;
      position: absolute;
      background-color: $gray-1;
      border-left: 1px solid $point-1;
      border-right: 1px solid $point-1;
      border-bottom: 1px solid $point-1;
      top: 0;
      left: -1px;
      border-radius: calc($unit-3/2);
      z-index: 0;
    }

    > ul:after {
      transition: opacity 0.2s ease-in;
      content: "";
      opacity: 0;
      display: block;
      width: 646px;
      height: 176px;
      position: absolute;
      background-color: $gray-1;
      border-left: 1px solid $point-1;
      border-right: 1px solid $point-1;
      border-bottom: 1px solid $point-1;
      top: 0;
      left: -1px;
      border-radius: calc($unit-3/2);
      z-index: -1;
    }
    > ul:hover:after {
      opacity: 1;
      z-index: -1;
    }
  }
}

//footer
footer {
  padding: 36px 0;
  background-color: $point-1;
  color: $white;
  font-size: $web-sm-tt;
  margin-top: $unit-5;
  div {
    display: flex;
    justify-content: space-between;
    h2 {
      a {
        background-image: url(../asset/logo-small-white.png);
        height: 22px;
        width: 74px;
        display: block;
        background-size: cover;
        text-indent: -9999rem;
      }
    }
    ul {
      display: flex;
      gap: 12px;
      li {
        position: relative;
      }
      li + li::after {
        position: absolute;
        top: 3px;
        left: -6.5px;
        content: "";
        display: block;
        border-left: 1px solid $white;
        width: 1px;
        height: 14px;
      }
    }
    a {
      color: $white;
    }
  }
}

header.mobile{
  padding: 24px 20px;
  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      font-size: $web-tt;
      border: none;
      background-color: transparent;
      padding: 0;
    }
    .menu-btn{
      background-image: url(../asset/menu-btn.png);
      width: 25px;
      height: 19px;
      display: block;
      background-size: cover;
      text-indent: -9999rem;
    }
    .mypage {
      background-image: url(../asset/mypage-icon.png);
      width: 24px;
      height: 24px;
      display: block;
      background-size: cover;
      text-indent: -9999rem;
    }
    h1 {
      text-align: center;
      a {
        margin: 0 auto;
        background-image: url(../asset/small-logo.png);
        width: 75px;
        height: 22px;
        display: block;
        background-size: cover;
        text-indent: -9999rem;
      }
    }
  }
  nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    height: 100%;
    justify-content: space-between;
    bottom:0;
    width: 287px;
    left: -287px;
    background-color: $white;
    z-index: 10000;
    transition: left 0.4s ease-in;
    border-radius: 0;
    margin: 0;
    padding: 0px;
    border: none;
    &.open{
      left:0;
    }
    > ul{
      flex-direction: column;
      width: 100%;
      margin-top: 60px;
      text-indent: 20px;
      gap: 0;
      >li{
        padding: 20px 0;
        a{
          margin-bottom: 20px;
        }
      }
      
      &:before {
        display: none;
      }
      &:after{
        display: none;
      }
      > li > ul{
        background-color: $gray-1;
        position: static;
        padding: 20px 0;
        width: 100%;
        // margin-left: 20px;
        display: flex;
        gap: 10px;
        align-items: start;
        text-indent: 40px;
      }
    }
    .menu-close-btn{
      background-image: url(../asset/menu-close.png);
      width: 20.86px;
      height: 20.86px;
      display: block;
      background-size: cover;
      position: absolute;
      top:20px;
      left:20px;
    }
    .nav-bottom{
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 20px;
      color: $point-1;
      position: static;
      box-sizing: border-box;
    }
  }
}

//mobile footer
@media (max-width: 480px) {
  footer{
    div ul{
      display: none;
    }
  }
}

//cursur pointer
button {
  cursor: pointer;
}

//test
body {
  background-color: $gray-1;
}

/* weekly */
.weekly-wrap {
  width: 350px;
  display: inline-flex;
  justify-content: center;
  position: relative;
}
.daylist {
  margin: 0 2px;
  width: 45px;
  padding: 15px 0;
  border-radius: 46px;
  transition: 0.3s;
  text-align: center;
  box-sizing: border-box;

  .weak {
    color: $gray-2;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .day {
    font-weight: 500;
  }
  .Sat {
    color: rgb(64, 82, 129);
  }
  .Sun {
    color: $point-2;
  }
  &:hover {
    background: $green-4;
    color: #ebf4ff;
    .weak,
    .day {
      color: $white;
    }
    .Sat {
      color: #ebf4ff;
    }
    .Sun {
      color: #ff6363;
    }
  }
}

.daylist.today {
  box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
}

.week-btns {
  top: 50%;
}
.week-btns button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #22486184;
}

.prev {
  left: -22px;
}

.next {
  right: -22px;
}

.Calendar {
  margin: 60px 0 30px;
  position: relative;

  .sec-tt {
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
  }
}

/* loading */
.loading {
  .ouro {
    position: relative;
    display: inline-block;
    height: 46px;
    width: 46px;
    margin: 1em;
    border-radius: 50%;
    background: none repeat scroll 0 0 #dddddd;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset,
      0 0 25px rgba(0, 0, 255, 0.075);
  }

  .ouro:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    height: 38px;
    width: 38px;
    background: none repeat scroll 0 0 #f2f2f2;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .ouro > span {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
  }
  .left {
    left: 0;
  }
  .right {
    left: 50%;
  }

  .anim {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 $green-3;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
  }
  .left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
  }

  /* v3 */
  .ouro3 .anim {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: linear;
  }
  .ouro3 .right .anim {
    -webkit-animation-name: ui-spinner-rotate-right;
    -webkit-animation-delay: 0;
    -webkit-animation-delay: 1s;
    animation-name: ui-spinner-rotate-right;
    animation-delay: 0;
    animation-delay: 1s;
  }

  /* round variation */
  .round .ouro:after {
    display: none;
  }

  /* double variation */
  .double .ouro:after {
    height: 13px;
    width: 13px;
    left: 7px;
    top: 7px;
    border: 10px solid #ddd;
    background: transparent;
    box-shadow: none;
  }

  @keyframes ui-spinner-rotate-right {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes ui-spinner-rotate-left {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes ui-spinner-rotate-right {
    0% {
      -webkit-transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(180deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
    }
    75% {
      -webkit-transform: rotate(360deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes ui-spinner-rotate-left {
    0% {
      -webkit-transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
    }
    75% {
      -webkit-transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
}
