@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css");
a {
  text-decoration: none;
}

@font-face {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css");
}
/* Variables */
.mb-5 {
  margin-bottom: 120px;
}

/* Variables end.*/
body {
  font: 100% "Pretendard Variable";
}

.point-1 {
  color: #32a061;
}

.point-2 {
  color: #f46b2a;
}

.green-1 {
  color: #ecfbd4;
}

.green-2 {
  color: #defae4;
}

.green-3 {
  color: #2e8654;
}

.green-4 {
  color: #5ac479;
}

.green-5 {
  color: #94dfb6;
}

.yellow-1 {
  color: #fff9f0;
}

.yellow-2 {
  color: #fffeec;
}

.gray-1 {
  color: #f2f3f5;
}

.gray-2 {
  color: #9da1a6;
}

.gray-3 {
  color: #495057;
}

.gray-4 {
  color: #212529;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.bg-point-1 {
  background-color: #32a061;
}

.bg-point-2 {
  background-color: #f46b2a;
}

.bg-green-1 {
  background-color: #ecfbd4;
}

.bg-green-2 {
  background-color: #defae4;
}

.bg-green-3 {
  background-color: #2e8654;
}

.bg-green-4 {
  background-color: #5ac479;
}

.bg-green-5 {
  background-color: #94dfb6;
}

.bg-yellow-1 {
  background-color: #fff9f0;
}

.bg-yellow-2 {
  background-color: #fffeec;
}

.bg-gray-1 {
  background-color: #f2f3f5;
}

.bg-gray-2 {
  background-color: #9da1a6;
}

.bg-gray-3 {
  background-color: #495057;
}

.bg-gray-4 {
  background-color: #212529;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.tt1 {
  font-size: 40px;
}

.tt2 {
  font-size: 32px;
}

.tt3 {
  font-size: 28px;
}

.tt4 {
  font-size: 24px;
}

.tt5 {
  font-size: 20px;
}

.tt6 {
  font-size: 16px;
}

.tt7 {
  font-size: 14px;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.sm-shadow {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
}

.mb-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.web-shadow {
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
}

.sm-radius {
  border-radius: 5px;
}

.md-radius {
  border-radius: 10px;
}

.lg-radius {
  border-radius: 20px;
}

.w-green-btn {
  background: none;
  font-size: 16px;
  color: #32a061;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #32a061;
  transition: 0.3s;
  line-height: 16px;
}
.w-green-btn:hover {
  color: #fff;
  background: #32a061;
}

.w-red-btn {
  background: none;
  font-size: 16px;
  color: #f46b2a;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #f46b2a;
  transition: 0.3s;
  line-height: 16px;
}
.w-red-btn:hover {
  color: #fff;
  background: #f46b2a;
}

.w-gray-btn {
  background: none;
  font-size: 16px;
  color: #495057;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #495057;
  transition: 0.3s;
  line-height: 16px;
}
.w-gray-btn:hover {
  color: #fff;
  background: #495057;
}

.m-green-btn {
  background: none;
  font-size: 11px;
  color: #32a061;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #32a061;
  transition: 0.3s;
  line-height: 11px;
}
.m-green-btn:hover {
  color: #fff;
  background: #32a061;
}

.m-red-btn {
  background: none;
  font-size: 11px;
  color: #f46b2a;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #f46b2a;
  transition: 0.3s;
  line-height: 11px;
}
.m-red-btn:hover {
  color: #fff;
  background: #f46b2a;
}

.m-gray-btn {
  background: none;
  font-size: 11px;
  color: #495057;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #495057;
  transition: 0.3s;
  line-height: 11px;
}
.m-gray-btn:hover {
  color: #fff;
  background: #495057;
}

.w-badge {
  background: #495057;
  font-size: 16px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 66px;
  transition: 0.2s;
  opacity: 0.2;
}
.w-badge:hover {
  opacity: 0.5;
}

.m-badge {
  background: #495057;
  font-size: 11px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 66px;
  transition: 0.2s;
  opacity: 0.2;
}
.m-badge:hover {
  opacity: 0.5;
}

.pagination .pagination {
  color: #9da1a6;
  display: inline-flex;
  padding: 0;
}
.pagination .pagination .page-item {
  font-size: 16px;
  border: 1px solid #9da1a6;
  color: #9da1a6;
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.pagination .pagination .page-item:hover {
  background-color: #9da1a6;
  color: #fff;
}
.pagination .pagination .page-item.active {
  background-color: #495057;
  color: #fff;
}
.pagination .pagination .first-page,
.pagination .pagination .last-page {
  padding: 5px 20px;
}
.pagination .pagination .first-page {
  border-radius: 5px 0px 0px 5px;
}
.pagination .pagination .last-page {
  border-radius: 0px 5px 5px 0px;
}

.mb-pagination .pagination {
  color: #9da1a6;
  display: inline-flex;
  padding: 0;
}
.mb-pagination .pagination .page-item {
  font-size: 11px;
  border: 1px solid #9da1a6;
  color: #9da1a6;
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.mb-pagination .pagination .page-item:hover {
  background-color: #9da1a6;
  color: #fff;
}
.mb-pagination .pagination .page-item.active {
  background-color: #495057;
  color: #fff;
}
.mb-pagination .pagination .first-page,
.mb-pagination .pagination .last-page {
  padding: 5px 20px;
}
.mb-pagination .pagination .first-page {
  border-radius: 5px 0px 0px 5px;
}
.mb-pagination .pagination .last-page {
  border-radius: 0px 5px 5px 0px;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}
header.web {
  padding: 48px 0;
}
header.web div {
  position: relative;
}
header.web div h1 a {
  margin: 0 auto;
  background-image: url(../asset/logo.png);
  width: 148px;
  height: 42px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
header.web div aside {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
}
header.web div aside .loginout {
  margin-right: 20px;
}
header.web div aside .mypage {
  background-image: url(../asset/mypage-icon.png);
  width: 30px;
  height: 30px;
  display: block;
  text-indent: -9999rem;
  margin-right: 10px;
}
header.web nav {
  margin: 63px auto 0;
  width: 648px;
  display: flex;
  justify-content: center;
  padding: 26px 100px;
  box-sizing: border-box;
  border: 1px solid #32a061;
  border-radius: 36px;
  position: relative;
  z-index: 100;
}
header.web nav a {
  color: #32a061;
}
header.web nav > ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 100px;
}
header.web nav > ul:hover ul {
  display: flex;
}
header.web nav > ul a.big-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
header.web nav > ul a.big-menu .icon.meal {
  width: 15px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/meal-icon.png);
  background-repeat: no-repeat;
}
header.web nav > ul a.big-menu .icon.health {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/health-icon.png);
  background-repeat: no-repeat;
}
header.web nav > ul a.big-menu .icon.community {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/community-icon.png);
  background-repeat: no-repeat;
}
header.web nav > ul li {
  position: relative;
}
header.web nav > ul li ul {
  display: none;
  position: absolute;
  top: 72px;
  text-align: center;
  white-space: nowrap;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}
header.web nav > ul:before {
  content: "";
  opacity: 1;
  display: block;
  width: 646px;
  height: 74px;
  position: absolute;
  background-color: #f2f3f5;
  border-left: 1px solid #32a061;
  border-right: 1px solid #32a061;
  border-bottom: 1px solid #32a061;
  top: 0;
  left: -1px;
  border-radius: 36px;
  z-index: 0;
}
header.web nav > ul:after {
  transition: opacity 0.2s ease-in;
  content: "";
  opacity: 0;
  display: block;
  width: 646px;
  height: 176px;
  position: absolute;
  background-color: #f2f3f5;
  border-left: 1px solid #32a061;
  border-right: 1px solid #32a061;
  border-bottom: 1px solid #32a061;
  top: 0;
  left: -1px;
  border-radius: 36px;
  z-index: -1;
}
header.web nav > ul:hover:after {
  opacity: 1;
  z-index: -1;
}

footer {
  padding: 36px 0;
  background-color: #32a061;
  color: #fff;
  font-size: 14px;
  margin-top: 120px;
}
footer div {
  display: flex;
  justify-content: space-between;
}
footer div h2 a {
  background-image: url(../asset/logo-small-white.png);
  height: 22px;
  width: 74px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
footer div ul {
  display: flex;
  gap: 12px;
}
footer div ul li {
  position: relative;
}
footer div ul li + li::after {
  position: absolute;
  top: 3px;
  left: -6.5px;
  content: "";
  display: block;
  border-left: 1px solid #fff;
  width: 1px;
  height: 14px;
}
footer div a {
  color: #fff;
}

header.mobile {
  padding: 24px 20px;
}
header.mobile .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.mobile .header button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
}
header.mobile .header .menu-btn {
  background-image: url(../asset/menu-btn.png);
  width: 25px;
  height: 19px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
header.mobile .header .mypage {
  background-image: url(../asset/mypage-icon.png);
  width: 24px;
  height: 24px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
header.mobile .header h1 {
  text-align: center;
}
header.mobile .header h1 a {
  margin: 0 auto;
  background-image: url(../asset/small-logo.png);
  width: 75px;
  height: 22px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
header.mobile .main-menu-bg.active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(94, 94, 94, 0.5);
  transition: 0.4s ease-in;
  width: 100%;
  height: 100%;
  z-index: 100;
}
header.mobile nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100%;
  justify-content: space-between;
  bottom: 0;
  width: 287px;
  left: -287px;
  background-color: #fff;
  z-index: 10000;
  transition: left 0.4s ease-in;
  border-radius: 0;
  margin: 0;
  padding: 0px;
  border: none;
}
header.mobile nav.open {
  left: 0;
}
header.mobile nav > ul {
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  text-indent: 20px;
  gap: 0;
}
header.mobile nav > ul > li {
  padding: 20px 0;
}
header.mobile nav > ul > li a {
  margin-bottom: 20px;
}
header.mobile nav > ul:before {
  display: none;
}
header.mobile nav > ul:after {
  display: none;
}
header.mobile nav > ul > li > ul {
  background-color: #f2f3f5;
  position: static;
  padding: 20px 0;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: start;
  text-indent: 40px;
}
header.mobile nav .menu-close-btn {
  background-image: url(../asset/menu-close.png);
  width: 20.86px;
  height: 20.86px;
  display: block;
  background-size: cover;
  position: absolute;
  top: 20px;
  left: 20px;
}
header.mobile nav .nav-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: #32a061;
  position: static;
  box-sizing: border-box;
}

@media (min-width: 481px) {
  header.mobile {
    display: none;
  }
}
@media (max-width: 480px) {
  header.web {
    display: none;
  }
  footer {
    margin-top: 70px;
  }
  footer div ul {
    display: none;
  }
  .pagination .pagination {
    color: #9da1a6;
    display: inline-flex;
    padding: 0;
  }
  .pagination .pagination .page-item {
    font-size: max(12px, min(3vw, 14px));
    border: 1px solid #9da1a6;
    color: #9da1a6;
    padding: 5px 10px;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .pagination .pagination .page-item:hover {
    background-color: #9da1a6;
    color: #fff;
  }
  .pagination .pagination .page-item.active {
    background-color: #495057;
    color: #fff;
  }
  .pagination .pagination .first-page,
  .pagination .pagination .last-page {
    padding: 5px 14px;
  }
  .pagination .pagination .first-page {
    border-radius: 5px 0px 0px 5px;
  }
  .pagination .pagination .last-page {
    border-radius: 0px 5px 5px 0px;
  }
}
button {
  cursor: pointer;
}

body {
  background-color: #f2f3f5;
}

/* weekly */
.weekly-wrap {
  width: 350px;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.daylist {
  margin: 0 2px;
  width: 45px;
  padding: 15px 0;
  border-radius: 46px;
  transition: 0.3s;
  text-align: center;
  box-sizing: border-box;
}
.daylist .weak {
  color: #9da1a6;
  margin-bottom: 20px;
  font-size: 14px;
}
.daylist .day {
  font-weight: 500;
}
.daylist .Sat {
  color: rgb(64, 82, 129);
}
.daylist .Sun {
  color: #f46b2a;
}
.daylist:hover {
  background: #5ac479;
  color: #ebf4ff;
}
.daylist:hover .weak,
.daylist:hover .day {
  color: #fff;
}
.daylist:hover .Sat {
  color: #ebf4ff;
}
.daylist:hover .Sun {
  color: #ff6363;
}

.daylist.today {
  box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
}

.week-btns {
  top: 50%;
}

.week-btns button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(34, 72, 97, 0.5176470588);
}

.prev {
  left: -22px;
}

.next {
  right: -22px;
}

.Calendar {
  margin: 60px 0 30px;
  position: relative;
}
.Calendar .sec-tt {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
}

/* loading */
.loading {
  margin: 24px auto 0 auto;
  width: 50px;
  /* v3 */
  /* round variation */
  /* double variation */
}
.loading .ouro {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: none repeat scroll 0 0 #dddddd;
  overflow: hidden;
}
.loading .ouro:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  display: block;
  height: 36px;
  width: 36px;
  background: none repeat scroll 0 0 #f2f3f5;
  border-radius: 50%;
}
.loading .ouro > span {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.loading .left {
  left: 0;
}
.loading .right {
  left: 50%;
}
.loading .anim {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 999px;
  background: none repeat scroll 0 0 #32a061;
  opacity: 0.8;
  -webkit-animation: ui-spinner-rotate-left 3s infinite;
  animation: ui-spinner-rotate-left 3s infinite;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}
.loading .left .anim {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.loading .right .anim {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  left: -100%;
  -webkit-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
}
.loading .ouro3 .anim {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.loading .ouro3 .right .anim {
  -webkit-animation-name: ui-spinner-rotate-right;
  -webkit-animation-delay: 0;
  -webkit-animation-delay: 1s;
  animation-name: ui-spinner-rotate-right;
  animation-delay: 0;
  animation-delay: 1s;
}
.loading .round .ouro:after {
  display: none;
}
.loading .double .ouro:after {
  height: 13px;
  width: 13px;
  left: 7px;
  top: 7px;
  border: 10px solid #ddd;
  background: transparent;
  box-shadow: none;
}
@keyframes ui-spinner-rotate-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ui-spinner-rotate-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ui-spinner-rotate-right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes ui-spinner-rotate-left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.Community .hidden {
  display: none;
}
.Community .show {
  display: block;
}
.Community .bold {
  font-weight: bold;
}
.Community .pd {
  padding: 48px 0;
}
.Community .mg-t1 {
  margin-top: 24px;
}
.Community .mg-t2 {
  margin-top: 48px;
}
.Community .mg-t3 {
  margin-top: 72px;
}
.Community .mg-r1 {
  margin-right: 5px;
}
.Community .icon-sm {
  width: 15px;
}
.Community img {
  display: inline-block;
}
.Community .level-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: bottom;
}
.Community a {
  color: #000;
  display: block;
}
.Community .link {
  text-align: left;
}
.Community .link:hover {
  font-weight: bold;
}
.Community input,
.Community textarea {
  border: none;
  font-family: "Pretendard-Regular";
  box-sizing: border-box;
  font-size: 16px;
}
.Community input:focus,
.Community textarea:focus {
  outline: none;
}
.Community input:focus::placeholder,
.Community textarea:focus::placeholder {
  color: transparent;
}
.Community input::placeholder,
.Community textarea::placeholder {
  opacity: 0.8;
}
.Community table {
  width: 100%;
  text-align: center;
}
.Community table th, .Community table td {
  padding: 15px 0;
}
.Community table tr {
  background: #fff;
  border-bottom: 1px solid #dcdbdb;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  gap: 24px;
}
.Community table tr:first-child {
  border-top: 1px solid #dcdbdb;
}
.Community .w-red-btn,
.Community .w-green-btn {
  padding: 9px 15px;
}

input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

button {
  border: none;
  background: transparent;
  padding: 0;
}

.search {
  position: relative;
}
.search input {
  border-radius: 50px;
  padding: 15px 50px;
  width: 100%;
}
.search input:focus {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(148, 223, 182, 0.35);
  box-shadow: 0px 0px 0px 5px rgba(148, 223, 182, 0.35);
  transition: 0.3s;
}
.search button {
  position: absolute;
  left: 15px;
  bottom: 13px;
  font-size: 20px;
}

.fb-list-mobile,
.qna-list-mobile {
  display: none;
}

.no-result-msg {
  background: #fff;
  border-top: 1px solid #dcdbdb;
  border-bottom: 1px solid #dcdbdb;
  text-align: center;
  padding: 24px;
}

/* Free Board */
.fb-banner img {
  margin-right: 112px;
  height: 190px;
}

.fb-banner-content {
  width: 50%;
}

.free-select {
  margin-right: 16px;
}
.free-select input {
  caret-color: transparent;
}
.free-select svg {
  color: #32a061;
}

.news-frame {
  justify-content: space-between;
  flex-wrap: wrap;
}
.news-frame .news-box {
  width: 45.4%;
  height: 168px;
  background: #fff;
  padding: 24px;
  gap: 24px;
}
.news-frame .news-box img {
  width: 168px;
  height: 168px;
  border-radius: 10px;
  object-fit: cover;
}
.news-frame .news-box a:hover {
  font-weight: normal;
}
.news-frame .news-box:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}
.news-frame .news-date {
  margin: 8px 0 12px 0;
}
.news-frame .news-tt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-frame .news-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.news-category ul li {
  cursor: pointer;
}
.news-category ul li.active, .news-category ul li:hover {
  font-weight: bold;
}
.news-category ul li.active::after, .news-category ul li:hover::after {
  font-weight: normal;
}
.news-category ul li:not(:last-child)::after {
  content: "|";
  padding: 0 16px;
  color: #9da1a6;
}

.free-td-1 {
  flex: 1;
}

.free-td-6,
.free-td-7 {
  flex: 1.2;
}

.free-td-2,
.free-td-5 {
  flex: 1.5;
}

.free-td-4 {
  flex: 2.5;
  text-align: left;
}

.free-td-3 {
  flex: 9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Q&A */
.Qna-banner {
  position: relative;
  width: 100%;
}
.Qna-banner .mg-t2 {
  margin-top: 48px;
}
.Qna-banner .mg-t2.sm {
  margin-top: 24px;
}

.Qna-banner-content {
  width: 55%;
}

.top-posts {
  position: absolute;
  width: 37%;
  top: 0;
  right: 0;
  padding: 24px;
}
.top-posts .posts-box {
  margin-top: 16px;
  flex-direction: column;
  gap: 4px;
}
.top-posts .posts-box p {
  background: #fff;
  padding: 8px;
  border-radius: 10px;
}
.top-posts .posts-box .posts-number {
  margin-right: 10px;
}

.qna-category {
  background: #fff;
  font-size: 1rem;
  border-radius: 60px;
  padding: 13px 20px;
  color: #32a061;
  font-weight: bold;
  border: none;
  opacity: 1;
  margin-right: 10px;
}

.qna-btns {
  display: flex;
  justify-content: space-between;
}
.qna-btns .posts-btn {
  display: none;
}

.qna-list .qna-td-1 img {
  width: 30px;
}

.qna-td-1,
.qna-td-2 {
  flex: 1;
}

.qna-td-6,
.qna-td-7,
.qna-td-8 {
  flex: 1.5;
}

.qna-td-5 {
  flex: 2;
}

.qna-td-4 {
  flex: 3;
  text-align: left;
}

.qna-td-3 {
  flex: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Q&A View */
.q-card {
  background: #fff;
  padding: 48px;
  gap: 24px;
}
.q-card img {
  height: 50px;
}
.q-card .q-content {
  flex-direction: column;
}
.q-card .q-tt {
  margin-top: 13px;
}
.q-card .q-info {
  margin: 24px 0 36px 0;
  gap: 24px;
  align-items: center;
}
.q-card .q-info img {
  display: inline;
}

.reply-form :first-child {
  position: relative;
}
.reply-form :first-child textarea {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}
.reply-form > p {
  color: #495057;
  margin: 10px 48px 0 0;
  display: flex;
  justify-content: end;
}
.reply-form #reply {
  padding: 24px 72px 24px 48px;
  width: 100%;
  resize: none;
}
.reply-form button {
  position: absolute;
  margin-bottom: 4px;
  padding: 24px 48px 22px 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
}

.a-frame {
  flex-direction: column;
  align-items: flex-end;
}
.a-frame .a-box {
  width: 90%;
  flex-direction: column;
  gap: 24px;
}
.a-frame .a-tt {
  margin-left: 36px;
  align-items: center;
  gap: 10px;
}
.a-frame .a-tt img {
  width: 24px;
}
.a-frame .a-card {
  background: #fffeec;
  padding: 36px;
  gap: 24px;
}
.a-frame .a-card img {
  height: 40px;
}
.a-frame .a-card img.level-img {
  height: 20px;
}

/* Mobile Board */
.list-item {
  background: #fff;
  border-bottom: 4px solid #f2f3f5;
  padding: 20px;
  font-size: 12px;
  gap: 10px;
}
.list-item:active {
  box-shadow: inset 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
}
.list-item .list-item-st {
  gap: 10px;
}
.list-item .list-item-tt {
  margin: 10px 0 20px;
  gap: 10px;
}
.list-item .list-item-tt img {
  height: 24px;
}
.list-item .level-img {
  width: 14px;
  height: 14px;
}

@media (max-width: 1320px) {
  .container {
    padding: 0px 20px;
  }
}
@media (max-width: 1120px) {
  .news-frame .news-box {
    width: 100%;
  }
  .news-frame .news-box img {
    width: 30%;
  }
}
@media (min-width: 481px) {
  .Community .m-red-btn {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .Community .tt2 {
    font-size: 4.5vw;
  }
  .Community .tt4 {
    font-size: 4vw;
  }
  .Community .tt5 {
    font-size: 16px;
  }
  .Community .pd {
    padding: 2.5vh 0;
  }
  .Community .mg-t1 {
    margin-top: 20px;
  }
  .Community .mg-t1 {
    margin-top: 20px;
  }
  .Community .mg-t1.sm {
    margin-top: 10px;
  }
  .Community .mg-t2 {
    margin-top: 20px;
  }
  .Community .mg-t3 {
    margin-top: 30px;
  }
  .Community input {
    font-size: 13px;
  }
  .Community .w-red-btn,
  .Community .w-green-btn {
    font-size: 13px !important;
    padding: 6px 15px;
  }
  .search input {
    padding: 12px 40px;
  }
  .search button {
    bottom: 11px;
    font-size: 16px;
  }
  .no-result-msg {
    border: none;
    font-size: max(13px, min(3.5vw, 15px));
    padding: 30px;
  }
  .fb-list,
  .qna-list {
    display: none;
  }
  .fb-list-mobile,
  .qna-list-mobile {
    display: block;
  }
  .fb-banner img,
  .Qna-banner-content img {
    display: none;
  }
  .fb-banner-content,
  .Qna-banner-content {
    width: 100%;
  }
  .fb-btns {
    justify-content: space-between;
  }
  /* Q&A */
  .Qna-banner .mg-t2 {
    margin-top: 20px;
  }
  .Qna-banner .mg-t2.sm {
    margin-top: 10px;
  }
  .qna-category {
    font-size: 13px;
    padding: 10px 15px;
  }
  .top-posts-bg {
    display: none;
  }
  .top-posts-bg.modal-open {
    display: block;
    position: fixed;
    background: rgba(94, 94, 94, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }
  .top-posts {
    box-sizing: border-box;
    width: calc(100% - 40px);
    top: 125px;
    left: 20px;
    padding: 20px;
  }
  .top-posts h3 {
    text-align: center;
    margin-top: 5px;
  }
  .top-posts .posts-box p {
    padding: 8px;
    font-size: 13px;
  }
  .qna-btns .posts-btn {
    display: block;
  }
  /* Q&A View */
  .q-card {
    padding: 20px;
    gap: 10px;
  }
  .q-card img {
    height: 24px;
  }
  .q-card .q-tt {
    margin: 0;
    font-size: max(14px, min(3.7vw, 16px));
  }
  .q-card .q-info {
    font-size: max(12px, min(3vw, 14px));
    margin: 16px 0 24px 0;
    gap: 20px;
  }
  .q-card .q-info img {
    width: max(14px, min(3.7vw, 16px));
    height: max(14px, min(3.7vw, 16px));
  }
  .q-card .q-content:last-child {
    font-size: max(13px, min(3.5vw, 15px));
  }
  .reply-form > p {
    margin: 6px 20px 0 0;
    font-size: max(13px, min(3.5vw, 15px));
  }
  .reply-form #reply {
    padding: 20px 40px 20px 20px;
    font-size: max(12px, min(3vw, 14px));
    height: 58px !important;
  }
  .reply-form button {
    padding: 21px 20px 19px 0;
    font-size: 16px;
  }
  .a-frame .a-box {
    width: 100%;
    gap: 10px;
  }
  .a-frame .a-tt {
    margin: 10px 0 5px 20px;
  }
  .a-frame .a-tt img {
    width: 18px;
  }
  .a-frame .a-card {
    padding: 20px;
    gap: 10px;
    font-size: max(13px, min(3.5vw, 15px));
  }
  .a-frame .a-card img {
    height: 24px;
  }
  .a-frame .a-card img.level-img {
    width: 16px;
    height: 16px;
  }
}

/*# sourceMappingURL=community.css.map */
