@charset "UTF-8";
@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css");
a {
  text-decoration: none;
}

@font-face {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css");
}
/* Variables */
.mb-5 {
  margin-bottom: 120px;
}

/* Variables end.*/
body {
  font: 100% "Pretendard Variable";
}

.point-1 {
  color: #32a061;
}

.point-2 {
  color: #f46b2a;
}

.green-1 {
  color: #ecfbd4;
}

.green-2 {
  color: #defae4;
}

.green-3 {
  color: #2e8654;
}

.green-4 {
  color: #5ac479;
}

.green-5 {
  color: #94dfb6;
}

.yellow-1 {
  color: #fff9f0;
}

.yellow-2 {
  color: #fffeec;
}

.gray-1 {
  color: #f2f3f5;
}

.gray-2 {
  color: #9da1a6;
}

.gray-3 {
  color: #495057;
}

.gray-4 {
  color: #212529;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.bg-point-1 {
  background-color: #32a061;
}

.bg-point-2 {
  background-color: #f46b2a;
}

.bg-green-1 {
  background-color: #ecfbd4;
}

.bg-green-2 {
  background-color: #defae4;
}

.bg-green-3 {
  background-color: #2e8654;
}

.bg-green-4 {
  background-color: #5ac479;
}

.bg-green-5 {
  background-color: #94dfb6;
}

.bg-yellow-1 {
  background-color: #fff9f0;
}

.bg-yellow-2 {
  background-color: #fffeec;
}

.bg-gray-1 {
  background-color: #f2f3f5;
}

.bg-gray-2 {
  background-color: #9da1a6;
}

.bg-gray-3 {
  background-color: #495057;
}

.bg-gray-4 {
  background-color: #212529;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.tt1 {
  font-size: 40px;
}

.tt2 {
  font-size: 32px;
}

.tt3 {
  font-size: 28px;
}

.tt4 {
  font-size: 24px;
}

.tt5 {
  font-size: 20px;
}

.tt6 {
  font-size: 16px;
}

.tt7 {
  font-size: 14px;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.sm-shadow {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
}

.mb-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.web-shadow {
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
}

.sm-radius {
  border-radius: 5px;
}

.md-radius {
  border-radius: 10px;
}

.lg-radius {
  border-radius: 20px;
}

.w-green-btn {
  background: none;
  font-size: 16px;
  color: #32a061;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #32a061;
  transition: 0.3s;
  line-height: 16px;
}
.w-green-btn:hover {
  color: #fff;
  background: #32a061;
}

.w-red-btn {
  background: none;
  font-size: 16px;
  color: #f46b2a;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #f46b2a;
  transition: 0.3s;
  line-height: 16px;
}
.w-red-btn:hover {
  color: #fff;
  background: #f46b2a;
}

.w-gray-btn {
  background: none;
  font-size: 16px;
  color: #495057;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #495057;
  transition: 0.3s;
  line-height: 16px;
}
.w-gray-btn:hover {
  color: #fff;
  background: #495057;
}

.m-green-btn {
  background: none;
  font-size: 11px;
  color: #32a061;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #32a061;
  transition: 0.3s;
  line-height: 11px;
}
.m-green-btn:hover {
  color: #fff;
  background: #32a061;
}

.m-red-btn {
  background: none;
  font-size: 11px;
  color: #f46b2a;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #f46b2a;
  transition: 0.3s;
  line-height: 11px;
}
.m-red-btn:hover {
  color: #fff;
  background: #f46b2a;
}

.m-gray-btn {
  background: none;
  font-size: 11px;
  color: #495057;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #495057;
  transition: 0.3s;
  line-height: 11px;
}
.m-gray-btn:hover {
  color: #fff;
  background: #495057;
}

.w-badge {
  background: #495057;
  font-size: 16px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 66px;
  transition: 0.2s;
  opacity: 0.2;
}
.w-badge:hover {
  opacity: 0.5;
}

.m-badge {
  background: #495057;
  font-size: 11px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 66px;
  transition: 0.2s;
  opacity: 0.2;
}
.m-badge:hover {
  opacity: 0.5;
}

.pagination .pagination {
  color: #9da1a6;
  display: inline-flex;
  padding: 0;
}
.pagination .pagination .page-item {
  font-size: 16px;
  border: 1px solid #9da1a6;
  color: #9da1a6;
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.pagination .pagination .page-item:hover {
  background-color: #9da1a6;
  color: #fff;
}
.pagination .pagination .page-item.active {
  background-color: #495057;
  color: #fff;
}
.pagination .pagination .first-page,
.pagination .pagination .last-page {
  padding: 5px 20px;
}
.pagination .pagination .first-page {
  border-radius: 5px 0px 0px 5px;
}
.pagination .pagination .last-page {
  border-radius: 0px 5px 5px 0px;
}

.mb-pagination .pagination {
  color: #9da1a6;
  display: inline-flex;
  padding: 0;
}
.mb-pagination .pagination .page-item {
  font-size: 11px;
  border: 1px solid #9da1a6;
  color: #9da1a6;
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.mb-pagination .pagination .page-item:hover {
  background-color: #9da1a6;
  color: #fff;
}
.mb-pagination .pagination .page-item.active {
  background-color: #495057;
  color: #fff;
}
.mb-pagination .pagination .first-page,
.mb-pagination .pagination .last-page {
  padding: 5px 20px;
}
.mb-pagination .pagination .first-page {
  border-radius: 5px 0px 0px 5px;
}
.mb-pagination .pagination .last-page {
  border-radius: 0px 5px 5px 0px;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}
header.web {
  padding: 48px 0;
}
header.web div {
  position: relative;
}
header.web div h1 a {
  margin: 0 auto;
  background-image: url(../asset/logo.png);
  width: 148px;
  height: 42px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
header.web div aside {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
}
header.web div aside button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
}
header.web div aside .loginout {
  margin-right: 20px;
}
header.web div aside .mypage {
  background-image: url(../asset/mypage-icon.png);
  width: 30px;
  height: 30px;
  display: block;
  text-indent: -9999rem;
  margin-right: 10px;
}
header.web nav {
  margin: 63px auto 0;
  width: 648px;
  display: flex;
  justify-content: center;
  padding: 26px 100px;
  box-sizing: border-box;
  border: 1px solid #32a061;
  border-radius: 36px;
  position: relative;
  z-index: 100;
}
header.web nav a {
  color: #32a061;
}
header.web nav > ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 100px;
}
header.web nav > ul:hover ul {
  display: flex;
}
header.web nav > ul a.big-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
header.web nav > ul a.big-menu .icon.meal {
  width: 15px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/meal-icon.png);
  background-repeat: no-repeat;
}
header.web nav > ul a.big-menu .icon.health {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/health-icon.png);
  background-repeat: no-repeat;
}
header.web nav > ul a.big-menu .icon.community {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/community-icon.png);
  background-repeat: no-repeat;
}
header.web nav > ul li {
  position: relative;
}
header.web nav > ul li ul {
  display: none;
  position: absolute;
  top: 72px;
  text-align: center;
  white-space: nowrap;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}
header.web nav > ul:before {
  content: "";
  opacity: 1;
  display: block;
  width: 646px;
  height: 74px;
  position: absolute;
  background-color: #f2f3f5;
  border-left: 1px solid #32a061;
  border-right: 1px solid #32a061;
  border-bottom: 1px solid #32a061;
  top: 0;
  left: -1px;
  border-radius: 36px;
  z-index: 0;
}
header.web nav > ul:after {
  transition: opacity 0.2s ease-in;
  content: "";
  opacity: 0;
  display: block;
  width: 646px;
  height: 176px;
  position: absolute;
  background-color: #f2f3f5;
  border-left: 1px solid #32a061;
  border-right: 1px solid #32a061;
  border-bottom: 1px solid #32a061;
  top: 0;
  left: -1px;
  border-radius: 36px;
  z-index: -1;
}
header.web nav > ul:hover:after {
  opacity: 1;
  z-index: -1;
}

footer {
  padding: 36px 0;
  background-color: #32a061;
  color: #fff;
  font-size: 14px;
  margin-top: 120px;
}
footer div {
  display: flex;
  justify-content: space-between;
}
footer div h2 a {
  background-image: url(../asset/logo-small-white.png);
  height: 22px;
  width: 74px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
footer div ul {
  display: flex;
  gap: 12px;
}
footer div ul li {
  position: relative;
}
footer div ul li + li::after {
  position: absolute;
  top: 3px;
  left: -6.5px;
  content: "";
  display: block;
  border-left: 1px solid #fff;
  width: 1px;
  height: 14px;
}
footer div a {
  color: #fff;
}

header.mobile {
  padding: 24px 20px;
}
header.mobile div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.mobile div button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
}
header.mobile div .menu-btn {
  background-image: url(../asset/menu-btn.png);
  width: 25px;
  height: 19px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
header.mobile div .mypage {
  background-image: url(../asset/mypage-icon.png);
  width: 24px;
  height: 24px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
header.mobile div h1 {
  text-align: center;
}
header.mobile div h1 a {
  margin: 0 auto;
  background-image: url(../asset/small-logo.png);
  width: 75px;
  height: 22px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
header.mobile nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100%;
  justify-content: space-between;
  bottom: 0;
  width: 287px;
  left: -287px;
  background-color: #fff;
  z-index: 10000;
  transition: left 0.4s ease-in;
  border-radius: 0;
  margin: 0;
  padding: 0px;
  border: none;
}
header.mobile nav.open {
  left: 0;
}
header.mobile nav > ul {
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  text-indent: 20px;
  gap: 0;
}
header.mobile nav > ul > li {
  padding: 20px 0;
}
header.mobile nav > ul > li a {
  margin-bottom: 20px;
}
header.mobile nav > ul:before {
  display: none;
}
header.mobile nav > ul:after {
  display: none;
}
header.mobile nav > ul > li > ul {
  background-color: #f2f3f5;
  position: static;
  padding: 20px 0;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: start;
  text-indent: 40px;
}
header.mobile nav .menu-close-btn {
  background-image: url(../asset/menu-close.png);
  width: 20.86px;
  height: 20.86px;
  display: block;
  background-size: cover;
  position: absolute;
  top: 20px;
  left: 20px;
}
header.mobile nav .nav-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: #32a061;
  position: static;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  footer div ul {
    display: none;
  }
}
button {
  cursor: pointer;
}

body {
  background-color: #f2f3f5;
}

/* weekly */
.weekly-wrap {
  width: 350px;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.daylist {
  margin: 0 2px;
  width: 45px;
  padding: 15px 0;
  border-radius: 46px;
  transition: 0.3s;
  text-align: center;
  box-sizing: border-box;
}
.daylist .weak {
  color: #9da1a6;
  margin-bottom: 20px;
  font-size: 14px;
}
.daylist .day {
  font-weight: 500;
}
.daylist .Sat {
  color: rgb(64, 82, 129);
}
.daylist .Sun {
  color: #f46b2a;
}
.daylist:hover {
  background: #5ac479;
  color: #ebf4ff;
}
.daylist:hover .weak,
.daylist:hover .day {
  color: #fff;
}
.daylist:hover .Sat {
  color: #ebf4ff;
}
.daylist:hover .Sun {
  color: #ff6363;
}

.daylist.today {
  box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
}

.week-btns {
  top: 50%;
}

.week-btns button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(34, 72, 97, 0.5176470588);
}

.prev {
  left: -22px;
}

.next {
  right: -22px;
}

.Calendar {
  margin: 60px 0 30px;
  position: relative;
}
.Calendar .sec-tt {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
}

.recomSlide,
.level,
.kakaoMap {
  text-align: center;
  width: 100%;
}

.sectionTitle {
  margin-top: 120px;
  text-align: center;
}

.subTitle {
  margin: 24px 0 72px;
}

.bannerWrap {
  background-color: #fff;
  border-radius: 10px;
  padding: 60px 96px;
  box-sizing: border-box;
}
.bannerWrap img {
  width: 504px;
  height: 282px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bannerWrap .img2 {
  -o-object-fit: none;
     object-fit: none;
}
.bannerWrap .bannerTitle {
  width: 50%;
}
.bannerWrap .bannerTitle ul {
  display: flex;
  gap: 5px;
  line-height: 20px;
}
.bannerWrap .bannerTitle li {
  border-radius: 50px;
  border: 1px solid #f46b2a;
  padding: 0 10px;
}
.bannerWrap .bannerTitle span {
  color: #f46b2a;
  font-size: 11px;
}
.bannerWrap .bannerTitle .youtubeBtn {
  margin-top: 50px;
  padding: 11px;
}
.bannerWrap .bannerMainTitle {
  padding: 20px 0;
}
.bannerWrap .bannerMainTitle h1 {
  font-size: 40px;
  color: #32a061;
}
.bannerWrap .bannerMainTitle p {
  font-weight: bold;
  display: inline;
}
.bannerWrap .bannerSubTitle {
  width: 100%;
  box-sizing: border-box;
}
.bannerWrap .bannerSubTitle h3 {
  font-weight: 400;
}
.bannerWrap .bannerSubTitle p {
  padding-top: 20px;
  color: #9da1a6;
}

.levels {
  width: 100%;
  height: 50%;
  margin: 72px auto;
  gap: 50px;
}

.level {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  gap: 5%;
}
.level .levelIcon img {
  width: 50%;
}
.level .levelIcon h2 {
  color: #f46b2a;
  font-size: 20px;
  font-weight: bold;
  margin: 17px 0;
}
.level .levelIcon button {
  margin-top: 17px;
}
.level .levelIcon button.active {
  background-color: #f46b2a;
  color: #fff;
}

.sectionTitle {
  color: #32a061;
  font-weight: bold;
}

.LevelCont {
  width: 100%;
  margin-top: 96px;
}
.LevelCont .levelContWrap {
  flex-wrap: wrap;
}
.LevelCont .levelContWrap .levelWrap {
  width: 423px;
  height: 380px;
}
.LevelCont .levelContWrap .levelWrap .levelImg img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 237px;
}
.LevelCont .levelContWrap .levelWrap h3 {
  font-weight: 500;
  padding: 10px 0;
  cursor: pointer;
}
.LevelCont .levelContWrap .levelWrap p {
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
  color: #495057;
}
.LevelCont .levelContWrap .youtubeProfile {
  line-height: 24px;
}
.LevelCont .levelContWrap .youtubeProfile img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding-right: 5px;
}
.LevelCont .MoreBtn {
  width: 100%;
}
.LevelCont .MoreBtn button {
  width: 30%;
  height: 27px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgray;
  color: gray;
  margin: 0 auto;
  display: block;
}

#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.healthSlides .swiper {
  width: 100%;
  height: 550px;
  margin: 0px auto;
}
.healthSlides .swiper .swiper-wrapper {
  margin-top: 30px;
  height: 435px;
}
.healthSlides .swiper .swiper-wrapper .swiper-slide {
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.healthSlides .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 55%;
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
}
.healthSlides .swiper .swiper-wrapper .swiper-slide:hover {
  transform: translateY(-30px);
  transition: transform 0.8s;
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
}
.healthSlides .recomSlide .recomImg {
  width: 100%;
  height: 50%;
}
.healthSlides .recomSlide .recomInfo {
  padding: 10px 0 20px;
}
.healthSlides .recomSlide h2 {
  font-weight: 400;
}
.healthSlides .recomSlide h3 {
  font-size: 14px;
  padding: 10px 0;
}
.healthSlides .recomSlide p {
  font-size: 14px;
  color: #9da1a6;
}
.healthSlides .append-buttons {
  text-align: center;
  margin-top: 20px;
}
.healthSlides .append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.kakaoMap {
  width: 100%;
}
.kakaoMap form {
  width: 30%;
  height: 35px;
  margin: 0 auto 72px;
}
.kakaoMap form input {
  width: 90%;
  height: 100%;
  border-radius: 30px;
  border: 1px solid green;
  padding: 0 35px;
  box-sizing: border-box;
  text-align: center;
}
.kakaoMap form button {
  width: 10%;
  height: 100%;
  vertical-align: middle;
}
.kakaoMap #map {
  border-radius: 10px;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */
.grid {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.grid .grid-item {
  width: 32%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.grid .grid-item img {
  width: 100%;
  height: 100%;
}
.grid .grid-item:hover .grid-text {
  transform: translateY(-101%);
  transition: transform 0.5s;
}
.grid .grid-text {
  transform: translateY(0%);
  width: 100%;
  height: 100%;
  color: #fff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  align-items: end;
}
.grid .grid-text .text {
  height: 50px;
  padding: 0 30px;
}
.grid .grid-text img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 5px;
}

.healthModalBack {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.healthModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 620px;
  background-color: #fff;
  border-radius: 10px;
  padding: 70px;
  box-sizing: border-box;
  z-index: 10;
}
.healthModal .modalImg {
  width: 60%;
  height: 100%;
  margin-right: 30px;
}
.healthModal .modalImg .modalImg_1 {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.healthModal .modalImg .modalImg_1 img {
  width: 500px;
  height: 100%;
}
.healthModal .modalText {
  width: 50%;
}
.healthModal .modalText .text {
  height: 30px;
}
.healthModal .modalText .text img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.healthModal .modalText .text p:last-child {
  padding: 0 15px;
}
.healthModal .modalText p {
  line-height: 30px;
  padding: 0 5px;
  font-size: 14px;
}
.healthModal .modalText .modalDays p {
  color: #888;
  font-size: 11px;
}
.healthModal .modalText .modalMainText {
  height: 260px;
}
.healthModal .modalText .modalImg_2 {
  margin-top: 30px;
}
.healthModal .modalText .modalImg_2 img {
  width: 32%;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}
.healthModal .modalText .m-badge {
  margin-right: 5px;
}
.healthModal .modalText .modalBtn {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 20px;
  right: 20px;
}
.healthModal .modalText .modalBtn:before, .healthModal .modalText .modalBtn:after {
  position: absolute;
  left: 50%;
  content: "";
  height: 40px;
  width: 1px;
  background-color: #000;
}
.healthModal .modalText .modalBtn:before {
  transform: rotate(45deg);
}
.healthModal .modalText .modalBtn:after {
  transform: rotate(-45deg);
}

.map_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}

.map_wrap {
  position: relative;
  width: 100%;
  height: 500px;
}

#menu_wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 250px;
  margin: 10px 560px 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}

.bg_white {
  background: #fff;
}

#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}

#menu_wrap .option {
  text-align: center;
}

#menu_wrap .option p {
  margin: 10px 0;
}

#menu_wrap .option button {
  margin-left: 5px;
}

#placesList li {
  list-style: none;
}

#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#placesList .item .info {
  padding: 10px 0 10px 55px;
}

#placesList .info {
  color: black;
}

#placesList .info .gray {
  color: #8a8a8a;
}

#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
  color: #009900;
}

#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {
  background-position: 0 -10px;
}

#placesList .item .marker_2 {
  background-position: 0 -56px;
}

#placesList .item .marker_3 {
  background-position: 0 -102px;
}

#placesList .item .marker_4 {
  background-position: 0 -148px;
}

#placesList .item .marker_5 {
  background-position: 0 -194px;
}

#placesList .item .marker_6 {
  background-position: 0 -240px;
}

#placesList .item .marker_7 {
  background-position: 0 -286px;
}

#placesList .item .marker_8 {
  background-position: 0 -332px;
}

#placesList .item .marker_9 {
  background-position: 0 -378px;
}

#placesList .item .marker_10 {
  background-position: 0 -423px;
}

#placesList .item .marker_11 {
  background-position: 0 -470px;
}

#placesList .item .marker_12 {
  background-position: 0 -516px;
}

#placesList .item .marker_13 {
  background-position: 0 -562px;
}

#placesList .item .marker_14 {
  background-position: 0 -608px;
}

#placesList .item .marker_15 {
  background-position: 0 -654px;
}

#pagination {
  margin: 10px auto;
  text-align: center;
}

#pagination a {
  display: inline-block;
  margin-right: 10px;
}

#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}

@media (min-width: 1120px) {
  .bannerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bannerSubTitle {
    padding-right: 30%;
  }
  .level .levelIcon {
    width: 20%;
  }
  .level .levelIcon img {
    width: 50%;
  }
  .level .levelIcon h2 {
    color: #f46b2a;
    font-size: 20px;
    font-weight: bold;
    margin: 17px 0;
  }
}
@media (max-width: 480px) {
  .bannerWrap {
    padding: 40px 15px;
    text-align: center;
  }
  .bannerWrap .bannerImg {
    margin-top: 40px;
  }
  .bannerWrap .bannerImg img {
    width: 100%;
    height: 227px;
  }
  .bannerWrap .bannerImg .img2 {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .bannerWrap .bannerTitle {
    width: 100%;
  }
  .bannerWrap .bannerTitle ul {
    justify-content: center;
  }
  .bannerWrap .bannerTitle ul span {
    font-size: 11px;
  }
  .bannerWrap .bannerTitle .youtubeBtn {
    margin-top: 40px;
  }
  .bannerWrap .bannerMainTitle h1 {
    font-size: 32px;
  }
  .bannerWrap .bannerSubTitle {
    padding: 0 10px;
  }
  .level {
    margin: 0 auto;
    gap: 5%;
  }
  .level .levelIcon img {
    width: 60%;
  }
  .level .levelIcon h2 {
    font-size: 16px;
  }
  .level .levelIcon p {
    font-size: 11px;
  }
}/*# sourceMappingURL=health.css.map */