@import "common";

.Main{
  .banner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 216px;
    background-color: $yellow-1;
    border-radius: 10px;
    padding: 40px 190px;
    box-sizing: border-box;
    margin-bottom: $unit-3;
    position: relative;
    .banner-text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      p{
        font-weight: bold;
      }
      p:first-child{
        font-size: $font-24;
      }
      p+p{
        font-size: $font-28;
      }
    }
    .banner-img{
      display: flex;
      gap:30px;
      align-items: center;
      .level-badge{
        width: 100px;
        height: 100px;
      }
    }
    .banner-cotntrols{
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      button{
        padding: 0;
        border: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $gray-2;
        transition: 0.4s;
        &:hover{
          background-color: $gray-3;
        }
        &.active{
          background-color: $point-1;
        }
      }
      button + button{
        margin-left: 5px;
      }
    }
  }
  .modal{
    position: absolute;
    width: 335px;
    height: 440px;
    background-color: $white;
    border-radius: 10px;
    border: none;
    z-index: 300;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    .modal-container{
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      > div{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      .answer-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
      .modal-close-btn{
        border: none;
        background-color: $green-5;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        top: 10px;
        transition: 0.5s;
        &:hover{
          background-color: $green-4;
        }
      }
      .level-test-img{
        width: 120px;
        height: 120px;
        object-fit: cover;
      }
      .result-img{
        margin-bottom: 30px;
      }
      h5{
        font-weight: 900;
        margin: 0;
        color: $point-1;
      }
      p{
        font-size: $font-14;
        white-space: nowrap;
      }
      #progress{
        width: 100%;
        .progress{
          position: relative;
          background-color: $green-1;
          height: 15px;
          width: 100%;
          border-radius: 7.5px;
          .progress-bar{
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            width: 10%;
            border-radius: 7.5px;
            background-color: $green-5;
          }
        }
      }

    }
    
  }

  .modal-off{
    position: fixed;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: opacity 0.3s ease-in;
    display: none;
    z-index: 200;
  }

  .hot-board{
    h5{
      margin-bottom: 40px;
      font-size: $font-20;
      font-weight: bold;
    }
    .hot-board-buttons{
      display: flex;
      gap: 15px;
      margin-bottom: $unit-1;
    }
    .hot-board-main{
      background-color: $white;
      border-radius: 20px;
      padding: 50px;
      box-sizing: border-box;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      &.text-ver{
        gap: 20px;
      }
      &.text-ver.no-img{
        .text-card-title{
          margin-bottom: 10px;
        }
      }
      .img-container{
        position: relative;
        width: 220px;
        height: 220px;
        overflow: hidden;
        &:hover{
          .like-container{
            bottom: 0;
          }
        }
        .board-img{
          display: inline-block;
          width: 220px;
          height: 220px;
          object-fit: cover;
          border-radius: 10px;
          z-index: 1;
        }
        .like-container{
          bottom: -100%;
          display: flex;
          background-color: rgba($color: $white, $alpha: 0.6);
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          transition:0.5s;
          align-items: center;
          justify-content: center;
          z-index: 1;
          img{
            object-fit: cover;
            width: 52px;
            height: 44px;
            cursor: pointer;
            z-index: 10;
          }
        }
      
      }
      .text-card{
        background-color: $white;
        width: 600px;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #D9D9D9;
        border-radius: 10px;
        display: flex;
        gap: 35px;
        align-items: center;
        .text-card-img{
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 10px;
        }
        .text-card-text{
          display: flex;
          height: 80%;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          .text-card-title{
            h6{
              margin-bottom: 16px;
            }
          }
          .profile{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div{
              display: flex;
              gap:5px;
            }
          }
          .profile-content{
            display: flex;
            gap: 5px;
            align-items: center;
          }
          .profile-content:nth-child(1){
            margin-right: 10px;
          }
          .profile-icon{
            width: 28px;
            height: 28px;
            object-fit: cover;
          }
          .like-icon{
            width: 24px;
            height: 20px;
            object-fit: cover;
          }
        }

      }
    }
  }
  
  .recommand-exercise{
    display: flex;
    gap: 24px;
    text-align: center;
    .exercise-card{
      width: 312px;
      height: 384px;
      padding: 40px;
      flex-direction: column;
      box-sizing: border-box;
      background-color: $white;
      border-radius: 20px;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      h5{
        margin:0;
      }
      .exercise-icon{
        width: 97.2px;
        height: 100px;
        object-fit: cover;
      }
      .video-container{
        width: 180px;
        height: 180px;
        border-radius: 50%;
      }
    }
    .exercise-card.video{
      justify-content: space-between;
    }
  }
}