@charset "UTF-8";
@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css");
a {
  text-decoration: none;
}

@font-face {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable.min.css");
}
/* Variables */
/* Variables end.*/
body {
  font: 100% "Pretendard Variable";
}

.point-1 {
  color: #32a061;
}

.point-2 {
  color: #f46b2a;
}

.green-1 {
  color: #ecfbd4;
}

.green-2 {
  color: #defae4;
}

.green-3 {
  color: #2e8654;
}

.green-4 {
  color: #5ac479;
}

.green-5 {
  color: #94dfb6;
}

.yellow-1 {
  color: #fff9f0;
}

.yellow-2 {
  color: #fffeec;
}

.gray-1 {
  color: #f2f3f5;
}

.gray-2 {
  color: #9da1a6;
}

.gray-3 {
  color: #495057;
}

.gray-4 {
  color: #212529;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.bg-point-1 {
  background-color: #32a061;
}

.bg-point-2 {
  background-color: #f46b2a;
}

.bg-green-1 {
  background-color: #ecfbd4;
}

.bg-green-2 {
  background-color: #defae4;
}

.bg-green-3 {
  background-color: #2e8654;
}

.bg-green-4 {
  background-color: #5ac479;
}

.bg-green-5 {
  background-color: #94dfb6;
}

.bg-yellow-1 {
  background-color: #fff9f0;
}

.bg-yellow-2 {
  background-color: #fffeec;
}

.bg-gray-1 {
  background-color: #f2f3f5;
}

.bg-gray-2 {
  background-color: #9da1a6;
}

.bg-gray-3 {
  background-color: #495057;
}

.bg-gray-4 {
  background-color: #212529;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.tt1 {
  font-size: 40px;
}

.tt2 {
  font-size: 32px;
}

.tt3 {
  font-size: 28px;
}

.tt4 {
  font-size: 24px;
}

.tt5 {
  font-size: 20px;
}

.tt6 {
  font-size: 16px;
}

.tt7 {
  font-size: 14px;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.sm-shadow {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
}

.mb-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.web-shadow {
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
}

.sm-radius {
  border-radius: 5px;
}

.md-radius {
  border-radius: 10px;
}

.lg-radius {
  border-radius: 20px;
}

.w-green-btn {
  background: none;
  font-size: 16px;
  color: #32a061;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #32a061;
  transition: 0.3s;
  line-height: 16px;
}
.w-green-btn:hover {
  color: #fff;
  background: #32a061;
}

.w-red-btn {
  background: none;
  font-size: 16px;
  color: #f46b2a;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #f46b2a;
  transition: 0.3s;
  line-height: 16px;
}
.w-red-btn:hover {
  color: #fff;
  background: #f46b2a;
}

.w-gray-btn {
  background: none;
  font-size: 16px;
  color: #495057;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #495057;
  transition: 0.3s;
  line-height: 16px;
}
.w-gray-btn:hover {
  color: #fff;
  background: #495057;
}

.m-green-btn {
  background: none;
  font-size: 11px;
  color: #32a061;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #32a061;
  transition: 0.3s;
  line-height: 11px;
}
.m-green-btn:hover {
  color: #fff;
  background: #32a061;
}

.m-red-btn {
  background: none;
  font-size: 11px;
  color: #f46b2a;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #f46b2a;
  transition: 0.3s;
  line-height: 11px;
}
.m-red-btn:hover {
  color: #fff;
  background: #f46b2a;
}

.m-gray-btn {
  background: none;
  font-size: 11px;
  color: #495057;
  padding: 5px 15px;
  border-radius: 66px;
  border: 1px solid #495057;
  transition: 0.3s;
  line-height: 11px;
}
.m-gray-btn:hover {
  color: #fff;
  background: #495057;
}

.w-badge {
  background: #495057;
  font-size: 16px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 66px;
  transition: 0.2s;
  opacity: 0.2;
}
.w-badge:hover {
  opacity: 0.5;
}

.m-badge {
  background: #495057;
  font-size: 11px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 66px;
  transition: 0.2s;
  opacity: 0.2;
}
.m-badge:hover {
  opacity: 0.5;
}

.pagination .pagination {
  color: #9da1a6;
  display: inline-flex;
  padding: 0;
}
.pagination .pagination .page-item {
  font-size: 16px;
  border: 1px solid #9da1a6;
  color: #9da1a6;
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.pagination .pagination .page-item:hover {
  background-color: #9da1a6;
  color: #fff;
}
.pagination .pagination .page-item.active {
  background-color: #495057;
  color: #fff;
}
.pagination .pagination .first-page,
.pagination .pagination .last-page {
  padding: 5px 20px;
}
.pagination .pagination .first-page {
  border-radius: 5px 0px 0px 5px;
}
.pagination .pagination .last-page {
  border-radius: 0px 5px 5px 0px;
}

.mb-pagination .pagination {
  color: #9da1a6;
  display: inline-flex;
  padding: 0;
}
.mb-pagination .pagination .page-item {
  font-size: 11px;
  border: 1px solid #9da1a6;
  color: #9da1a6;
  padding: 5px 10px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.mb-pagination .pagination .page-item:hover {
  background-color: #9da1a6;
  color: #fff;
}
.mb-pagination .pagination .page-item.active {
  background-color: #495057;
  color: #fff;
}
.mb-pagination .pagination .first-page,
.mb-pagination .pagination .last-page {
  padding: 5px 20px;
}
.mb-pagination .pagination .first-page {
  border-radius: 5px 0px 0px 5px;
}
.mb-pagination .pagination .last-page {
  border-radius: 0px 5px 5px 0px;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

header {
  padding: 72px 0;
}
header div {
  position: relative;
}
header div h1 a {
  margin: 0 auto;
  background-image: url(../asset/logo.png);
  width: 148px;
  height: 42px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
header div aside {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
}
header div aside button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
}
header div aside .loginout {
  margin-right: 20px;
}
header div aside .mypage {
  background-image: url(../asset/mypage-icon.png);
  width: 30px;
  height: 30px;
  display: block;
  text-indent: -9999rem;
  margin-right: 10px;
}
header nav {
  margin: 63px auto 0;
  width: 648px;
  display: flex;
  justify-content: center;
  padding: 26px 100px;
  box-sizing: border-box;
  border: 1px solid #32a061;
  border-radius: 36px;
  position: relative;
  z-index: 100;
}
header nav a {
  color: #32a061;
}
header nav > ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 100px;
}
header nav > ul:hover ul {
  display: flex;
}
header nav > ul a.big-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav > ul a.big-menu .icon.meal {
  width: 15px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/meal-icon.png);
  background-repeat: no-repeat;
}
header nav > ul a.big-menu .icon.health {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/health-icon.png);
  background-repeat: no-repeat;
}
header nav > ul a.big-menu .icon.community {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
  background-image: url(../asset/community-icon.png);
  background-repeat: no-repeat;
}
header nav > ul li {
  position: relative;
}
header nav > ul li ul {
  display: none;
  position: absolute;
  top: 72px;
  text-align: center;
  white-space: nowrap;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}
header nav > ul:before {
  content: "";
  opacity: 1;
  display: block;
  width: 646px;
  height: 74px;
  position: absolute;
  background-color: #f2f3f5;
  border-left: 1px solid #32a061;
  border-right: 1px solid #32a061;
  border-bottom: 1px solid #32a061;
  top: 0;
  left: -1px;
  border-radius: 36px;
  z-index: 0;
}
header nav > ul:after {
  transition: opacity 0.2s ease-in;
  content: "";
  opacity: 0;
  display: block;
  width: 646px;
  height: 176px;
  position: absolute;
  background-color: #f2f3f5;
  border-left: 1px solid #32a061;
  border-right: 1px solid #32a061;
  border-bottom: 1px solid #32a061;
  top: 0;
  left: -1px;
  border-radius: 36px;
  z-index: -1;
}
header nav > ul:hover:after {
  opacity: 1;
  z-index: -1;
}

footer {
  padding: 36px 0;
  background-color: #32a061;
  color: #fff;
  font-size: 14px;
  margin-top: 120px;
}
footer div {
  display: flex;
  justify-content: space-between;
}
footer div h2 a {
  background-image: url(../asset/logo-small-white.png);
  height: 22px;
  width: 74px;
  display: block;
  background-size: cover;
  text-indent: -9999rem;
}
footer div ul {
  display: flex;
  gap: 12px;
}
footer div ul li {
  position: relative;
}
footer div ul li + li::after {
  position: absolute;
  top: 3px;
  left: -6.5px;
  content: "";
  display: block;
  border-left: 1px solid #fff;
  width: 1px;
  height: 14px;
}
footer div a {
  color: #fff;
}

button {
  cursor: pointer;
}

body {
  background-color: #f2f3f5;
}

/* weekly */
.weekly-wrap {
  width: 350px;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.daylist {
  margin: 0 2px;
  width: 45px;
  padding: 15px 0;
  border-radius: 46px;
  transition: 0.3s;
  text-align: center;
  box-sizing: border-box;
}
.daylist .weak {
  color: #9da1a6;
  margin-bottom: 20px;
  font-size: 14px;
}
.daylist .day {
  font-weight: 500;
}
.daylist .Sat {
  color: rgb(64, 82, 129);
}
.daylist .Sun {
  color: #f46b2a;
}
.daylist:hover {
  background: #5ac479;
  color: #ebf4ff;
}
.daylist:hover .weak,
.daylist:hover .day {
  color: #fff;
}
.daylist:hover .Sat {
  color: #ebf4ff;
}
.daylist:hover .Sun {
  color: #ff6363;
}

.daylist.today {
  box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba(9, 167, 72, 0.75);
}

.week-btns {
  top: 50%;
}

.week-btns button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(34, 72, 97, 0.5176470588);
}

.prev {
  left: -22px;
}

.next {
  right: -22px;
}

.Calendar {
  margin: 60px 0 30px;
  position: relative;
}
.Calendar .sec-tt {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
}

.search_result {
  margin-bottom: 30px;
}
.search_result > div {
  margin-bottom: 10px;
}
.search_result > div h3 {
  font-size: 16px;
  color: #495057;
}
.search_result > div span {
  font-weight: 500;
  color: #32a061;
}
.search_result > div p {
  font-size: 14px;
}
.search_result .result_bg {
  color: #495057;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 16px;
  border-radius: 10px;
}
.search_result .result_bg li {
  margin-right: 10px;
}

.chart-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}
.chart-wrap .modal-overlay {
  z-index: 100;
}
.chart-wrap .chart {
  width: 50%;
  height: 50vh;
  padding: 30px 0;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
}
.chart-wrap .chart h2 {
  font-weight: 500;
  color: #495057;
  margin-bottom: 16px;
}
.chart-wrap .chart h2 span {
  font-weight: 600;
}
.chart-wrap .chart .chart-desc span {
  padding: 5px 15px;
  display: inline-block;
  position: relative;
  font-size: 14px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
}
.chart-wrap .chart .chart-desc span:first-child {
  background: #ecfbd4;
  background-color: #5ac479;
  color: #fff;
  border-radius: 10px 66px 66px 66px;
  z-index: 10;
}
.chart-wrap .chart .chart-desc span:last-child {
  color: #2e8654;
  padding: 5px 15px 5px 35px;
  border-radius: 0 66px 66px 66px;
  z-index: 1;
  left: -25px;
}
.chart-wrap .chart canvas {
  width: 330px !important;
  height: 330px !important;
  margin-bottom: 20px;
}
.chart-wrap .chart p {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.calories-table {
  width: 100%;
  color: #545454;
  font-size: 16px;
  line-height: 48px;
}

.calories-table thead {
  border-radius: 4px;
  background: rgba(208, 208, 208, 0.3);
}

.calories-table tbody {
  background: rgba(255, 255, 255, 0.4);
}

.calories-table tr {
  height: 48px;
  border-bottom: 1px solid #ccc;
}

/* 테이블 스타일 설정 */
table {
  width: 100%;
  border-collapse: collapse;
}

/* 각 열의 너비 설정 */
td:nth-child(1) {
  width: 10%;
  text-align: center;
}

td:nth-child(2) {
  width: 60%;
}

td:nth-child(3),
td:nth-child(4) {
  width: 15%;
  text-align: center;
}

nav.pagination {
  display: flex;
  justify-content: center;
  margin: 60px 0 100px;
}

.head-banner {
  background: #fff;
  height: 432px;
  display: flex;
  justify-content: space-between;
  padding: 48px 112px;
  border-radius: 20px;
  box-sizing: border-box;
}
.head-banner p {
  font-size: 20px;
  margin: 50px 0 16px;
}
.head-banner .calories-table thead {
  border-radius: 4px;
  background: rgba(208, 208, 208, 0.3);
}
.head-banner h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.banner-img {
  width: 485px;
  height: 336px;
}

.container {
  width: 1320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  justify-content: end;
  /* 테이블 스타일 설정 */
  /* 각 열의 너비 설정 */
}
.search-bar form {
  width: 648px;
  height: 48px;
}
.search-bar table {
  width: 100%;
  border-collapse: collapse;
}
.search-bar td:nth-child(1) {
  width: 10%;
  text-align: center;
}
.search-bar td:nth-child(2) {
  width: 60%;
}
.search-bar td:nth-child(3),
.search-bar td:nth-child(4) {
  width: 15%;
  text-align: center;
}
.search-bar .head-banner {
  background: #fff;
  height: 432px;
  display: flex;
  justify-content: space-between;
  padding: 48px 112px;
  border-radius: 20px;
  box-sizing: border-box;
}
.search-bar .head-banner p {
  font-size: 20px;
  margin: 50px 0 16px;
}

.recom-list {
  width: 100%;
  height: 336px;
  padding: 48px;
  box-sizing: border-box;
}
.recom-list h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}
.recom-list p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 48px;
}

.recom-list .swiper {
  width: 840px;
  height: 240px;
}
.recom-list .swiper span {
  display: inline-block;
  font-style: 14px;
  color: #495057;
  margin-top: 6px;
  position: relative;
}
.recom-list .swiper .recom-name {
  margin-right: 20px;
}
.recom-list .swiper .recom-name::after {
  content: "";
  width: 2px;
  height: 14px;
  background-color: #9da1a6;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 100%;
  margin-left: 8px;
}
.recom-list .swiper .recom-wrap {
  position: relative;
}
.recom-list .swiper .recom-wrap > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.recom-list .swiper .recom-wrap > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
.recom-list .swiper .recom-wrap > div .recom-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  opacity: 0;
  transition: 0.4s;
  color: #fff;
  background-color: rgba(98, 98, 98, 0.446);
}
.recom-list .swiper .recom-wrap > div:hover .recom-desc {
  opacity: 1;
}
.recom-list .swiper .recom-wrap > div:hover img {
  filter: blur(7px);
  -webkit-filter: blur(7px);
}

.sec-tt {
  color: #495057;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.meal-post-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.meal-card {
  width: 312px;
  position: relative;
}
.meal-card .heart-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 312px;
  background: rgba(255, 255, 255, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.85);
  transition: 0.5s;
}
.meal-card .meal-img {
  width: 100%;
  height: 312px;
  -o-object-fit: cover;
     object-fit: cover;
}
.meal-card .meal-img:hover + .heart-active {
  display: flex;
}

.today-meal {
  flex-wrap: wrap;
  justify-content: start;
}

.today-meal .meal-card {
  width: 246px;
  margin-right: 22.5px;
  margin-bottom: 20px;
}
.today-meal .meal-card:nth-child(5n) {
  margin-right: 0;
}
.today-meal .meal-card .meal-img {
  width: 100%;
  height: 246px;
  -o-object-fit: cover;
     object-fit: cover;
}

.meal-info {
  color: #495057;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.meal-info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.meal-info .meal-user {
  font-size: 16px;
  font-weight: 500;
}
.meal-info .like-reply-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.meal-info .like-reply-wrap svg {
  margin-right: 10px;
}
.meal-info .like-reply-wrap span {
  line-height: 16px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
.meal-info .like-reply-wrap h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hashtag {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.meal-create {
  padding: 20px 75px;
  background: #fff;
  margin-top: 30px;
}
.meal-create img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.meal-create textarea {
  width: 100%;
  resize: none;
  border: none;
  margin-left: 50px;
}
.meal-create textarea:focus {
  outline: none;
}

.tag-wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  margin-left: 50px;
}

.tag-input {
  width: 240px;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
  background: rgba(228, 228, 228, 0.3);
  color: #495057;
}
.tag-input:focus {
  outline: none;
}

.form-tag-wrap {
  display: flex;
  gap: 10px;
}
.form-tag-wrap div {
  position: relative;
}
.form-tag-wrap div .tag-del {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -6px;
  color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 12.5px 0px rgba(0, 0, 0, 0.42);
}

.hidden {
  display: none;
}

.utility {
  color: #32a061;
  display: flex;
  gap: 16px;
  font-size: 14px;
}
.utility svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
}
.utility span {
  vertical-align: bottom;
}

hr {
  border: 1px solid #f2f3f5;
  margin-bottom: 15px;
}

.form-btns {
  display: flex;
  gap: 12px;
}

.cancel-confirm {
  position: absolute;
  top: 300px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  width: 240px;
  height: 160px;
  padding: 48px 0 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 35px 0px;
  text-align: center;
}
.cancel-confirm h2 {
  margin-bottom: 32px;
}
.cancel-confirm .modal-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(94, 94, 94, 0.45);
  display: flex;
  z-index: 1000;
}

.meal-view-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(94, 94, 94, 0.45);
  display: flex;
  z-index: 1000;
}

.meal-view {
  background: #fff;
  border-radius: 12px;
  width: 960px;
  height: 787px;
  box-sizing: border-box;
  padding: 20px 0;
  z-index: 1100;
  position: absolute;
  margin: auto auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.25);
  /* weekly */
}
.meal-view > div:first-child {
  border-right: 1px solid #dadada;
  padding: 0 20px;
}
.meal-view > div {
  width: 50%;
  box-sizing: border-box;
}
.meal-view .search-bar {
  display: flex;
  justify-content: end;
}
.meal-view .search-bar form {
  width: 648px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #32a061;
  display: flex;
  padding: 14px 20px;
  box-sizing: border-box;
  margin: 72px 0 40px;
}
.meal-view .search-bar input {
  flex: 1;
  line-height: 32px;
  font-size: 16px;
}
.meal-view .search-bar input,
.meal-view .search-bar button {
  border: none;
  background: none;
}
.meal-view .search-bar input:focus,
.meal-view .search-bar button:focus {
  outline: none;
}
.meal-view .reply-wrap {
  height: calc(100% - 40px);
}
.meal-view .reply-wrap .meal-info {
  border-bottom: 1px solid #dadada;
  padding: 0 20px 10px 10px;
  margin-bottom: 0;
}
.meal-view .reply-wrap .meal-info P {
  margin-right: 8px;
}
.meal-view .reply-wrap .meal-info .recom-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  opacity: 0;
  transition: 0.4s;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.446);
}
.meal-view .weekly-wrap {
  display: inline-flex;
  justify-content: center;
  position: relative;
}
.meal-view .daylist {
  margin: 0 2px;
  width: 45px;
  padding: 15px 0;
  border-radius: 46px;
  transition: 0.3s;
  text-align: center;
}
.meal-view .daylist .weak {
  color: #9da1a6;
  margin-bottom: 20px;
  font-size: 14px;
}
.meal-view .daylist .day {
  font-weight: 600;
}
.meal-view .daylist .Sat {
  color: rgb(64, 82, 129);
}
.meal-view .daylist .Sun {
  color: #f46b2a;
}
.meal-view .daylist:hover {
  background: #5ac479;
  color: #ebf4ff;
}
.meal-view .daylist:hover .weak,
.meal-view .daylist:hover .day {
  color: #fff;
}
.meal-view .daylist:hover .Sat {
  color: #ebf4ff;
}
.meal-view .daylist:hover .Sun {
  color: #ff6363;
}
.meal-view .daylist.today {
  border: 1.8px solid #32a061;
}
.meal-view .week-btns {
  /* position: absolute; */
  top: 50%;
}
.meal-view .week-btns button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(34, 72, 97, 0.5176470588);
}
.meal-view .prev {
  left: -22px;
}
.meal-view .next {
  right: -22px;
}
.meal-view .Calendar {
  margin: 72px 0 30px;
}
.meal-view .calendarChange {
  font-size: 14px;
  gap: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.meal-view .sec-tt {
  color: #495057;
  font-size: 20px;
  font-weight: 500;
}
.meal-view .meal-post-wrap {
  display: flex;
  justify-content: space-between;
}
.meal-view .meal-card {
  width: 312px;
}
.meal-view .meal-card .meal-img {
  width: 100%;
  height: 312px;
  -o-object-fit: cover;
     object-fit: cover;
}
.meal-view .today-meal .meal-card {
  width: 246px;
}
.meal-view .today-meal .meal-card .meal-img {
  width: 100%;
  height: 246px;
  -o-object-fit: cover;
     object-fit: cover;
}
.meal-view .meal-info {
  color: #495057;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.meal-view .meal-info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.meal-view .meal-info .reply-box {
  height: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.meal-view .meal-info .reply-box > div > ul {
  height: 560px;
  overflow-y: scroll;
}
.meal-view .meal-info .reply-box > div > ul::after {
  content: "";
  display: block;
  width: 100%;
  height: 562px;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 95%, rgb(255, 255, 255) 100%);
  pointer-events: none;
}
.meal-view .meal-info .like-reply-wrap {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
}
.meal-view .meal-info .like-reply-wrap > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.meal-view .meal-info .add-nested-reply {
  font-size: 13px;
  color: #9da1a6;
  margin-left: 65px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.meal-view .meal-info .nested-replys {
  margin-left: 40px;
}
.meal-view .hashtag {
  position: absolute;
  bottom: 40px;
}

.add-reply {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dadada;
  padding-top: 20px;
  padding: 20px 20px 0 10px;
  position: relative;
}
.add-reply input {
  border: none;
  padding: 0 10px;
  background: rgba(228, 228, 228, 0.3);
  color: #495057;
}
.add-reply input:focus {
  outline: none;
}
.add-reply .reply-to {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  background: #dadada;
  color: #495057;
  position: absolute;
  top: -40px;
  left: 0;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-reply .hidden {
  display: none;
}
.add-reply .utility {
  color: #32a061;
  display: flex;
  gap: 16px;
  font-size: 14px;
}
.add-reply .utility svg {
  margin-right: 5px;
  vertical-align: middle;
}
.add-reply hr {
  border: 1px solid #f2f3f5;
  margin-bottom: 15px;
}
.add-reply .form-btns {
  display: flex;
  gap: 12px;
}
.add-reply .cancel-confirm {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: -50%;
  background: #fff;
  width: 240px;
  height: 160px;
  padding: 48px 0 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 35px 0px;
  text-align: center;
}
.add-reply .cancel-confirm h2 {
  margin-bottom: 32px;
}
.add-reply .cancel-confirm .modal-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.add-reply .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(94, 94, 94, 0.25);
  display: flex;
}
.add-reply .meal-view {
  background: #fff;
  border-radius: 12px;
  width: 960px;
  height: 787px;
  box-sizing: border-box;
  padding: 20px 0;
}
.add-reply .meal-view > div:first-child {
  border-right: 1px solid #dadada;
  padding: 0 20px;
}
.add-reply .meal-view > div {
  width: 50%;
  box-sizing: border-box;
}
.add-reply .meal-view > div .meal-img {
  width: 440px;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}
.add-reply .meal-view > div .meal-info {
  margin-bottom: 10px;
}
.add-reply .meal-view > div .meal-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}
.add-reply .meal-view > div .meal-info .meal-user {
  font-size: 18px;
  font-weight: 500;
}
.add-reply .meal-view .reply-wrap {
  height: calc(100% - 40px);
}
.add-reply .meal-view .reply-wrap .meal-info {
  border-bottom: 1px solid #dadada;
  padding: 0 20px 10px 10px;
}
.add-reply .meal-view .reply-wrap .meal-info P {
  margin-right: 8px;
}
.add-reply .meal-view .reply-wrap .meal-info > div {
  display: flex;
  align-items: center;
}
.add-reply .meal-view .reply-wrap .level-badge {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.add-reply .meal-view .reply-wrap .reply-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.add-reply .meal-view .reply-wrap .reply-box {
  height: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add-reply .meal-view .reply-wrap .reply {
  color: #495057;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 10px 10px;
}
.add-reply .meal-view .reply-wrap .reply > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.add-reply .add-reply {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dadada;
  padding-top: 20px;
  padding: 20px 20px 0 10px;
}
.add-reply .add-reply input {
  border: none;
}
.add-reply .add-reply input:focus {
  outline: none;
}
.add-reply .add-reply > div {
  display: flex;
  gap: 8px;
}

.btn-wraps {
  display: flex;
  gap: 8px;
}/*# sourceMappingURL=meal.css.map */