@import "common";

.search_result {
  margin-bottom: 30px;

  > div {
    margin-bottom: 10px;

    h3 {
      font-size: 16px;
      color: $gray-3;
    }

    span {
      font-weight: 500;
      color: $point-1;
    }

    p {
      font-size: 14px;
    }
  }

  ul {
    color: $gray-3;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 16px;
    border-radius: 10px;

    li {
      margin-right: 10px;
    }
  }
}

.chart-wrap {
  position: relative;
  display: flex;
  justify-content: center;

  .modal-overlay {
    z-index: 100;
  }

  .chart {
    width: 50%;
    // height: 50vh;
    padding: 30px 0;
    border-radius: 10px;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;

    h2 {
      font-weight: 500;
      color: $gray-3;
      margin-bottom: 16px;

      span {
        font-weight: 600;
      }
    }

    .chart-desc {
      span {
        padding: 5px 15px;
        display: inline-block;
        position: relative;
        font-size: 14px;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);

        &:first-child {
          background: $green-1;
          background-color: $green-4;
          color: $white;
          border-radius: 10px 66px 66px 66px;
          z-index: 10;
        }
        &:last-child {
          color: $green-3;
          padding: 5px 15px 5px 35px;
          border-radius: 0 66px 66px 66px;
          z-index: 1;
          left: -25px;
        }
      }
    }

    canvas {
      width: 330px !important;
      height: 330px !important;
      margin-bottom: 20px;
    }

    .modal-close {
      background-color: #94dfb6;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      top: 10px;
      transition: 0.5s;

      &:hover {
        background-color: $green-4;
      }
    }
  }
}

.calories-table {
  width: 100%;
  color: #545454;
  font-size: 16px;
  line-height: 48px;
}

.calories-table thead {
  border-radius: 4px;
  background: rgba(208, 208, 208, 0.3);
}

.calories-table tbody {
  background: rgba(255, 255, 255, 0.4);
}

.calories-table tr {
  height: 48px;
  border-bottom: 1px solid #ccc;
}
/* 테이블 스타일 설정 */
table {
  width: 100%;
  border-collapse: collapse;
}

/* 각 열의 너비 설정 */
td:nth-child(1) {
  width: 10%;
  text-align: center;
}

td:nth-child(2) {
  width: 60%;
}

td:nth-child(3),
td:nth-child(4) {
  width: 15%;
  text-align: center;
}

nav.pagination {
  display: flex;
  justify-content: center;
  margin: 60px 0 100px;
}

.head-banner {
  // max-width: 100%;
  background: $white;
  height: 432px;
  display: flex;
  justify-content: space-between;
  padding: 48px 112px;
  border-radius: 20px;
  box-sizing: border-box;

  p {
    font-size: 20px;
    margin: 50px 0 16px;
  }

  h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
  }
}

.banner-img {
  width: 485px;
  height: 336px;
}

.container {
  width: 1320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  justify-content: end;
  form {
    width: 648px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid $point-1;
    display: flex;
    padding: 14px 20px;
    box-sizing: border-box;
    margin: 72px 0 40px;

    &.active {
      box-shadow: 0px 0px 0px 5px rgba(148, 223, 182, 0.35);
      transition: 0.3s;
    }
  }
  input {
    flex: 1;
    line-height: 32px;
    font-size: 16px;
  }
  input,
  button {
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
  }
}

.recom-list {
  width: 100%;
  height: 336px;
  padding: 48px;
  box-sizing: border-box;

  h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 48px;
  }
}

.recom-list .swiper {
  width: 840px;
  height: 240px;

  span {
    display: inline-block;
    font-style: 14px;
    color: $gray-3;
    margin-top: 6px;
    position: relative;
  }

  .recom-name {
    margin-right: 20px;
  }

  .recom-name::after {
    content: "";
    width: 2px;
    height: 14px;
    background-color: $gray-2;
    display: inline-block;
    position: absolute;
    top: -0.8px;
    left: 100%;
    margin-left: 8px;
  }

  .recom-wrap {
    position: relative;
    &:hover {
      .recom-desc {
        opacity: 1;
      }
      img {
        filter: blur(7px);
        -webkit-filter: blur(7px);
      }
    }
    .recom-desc {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 15px;
      box-sizing: border-box;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.4;
      opacity: 0;
      transition: 0.4s;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.446);
    }
  }
}

//meal
.sec-tt {
  color: $gray-3;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}
.sec-tt.wb {
  margin-top: -60px;
}
.meal-post-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 16px;

  .meal-card {
    position: relative;

    .img-container {
      position: relative;
      overflow: hidden;
      &:hover {
        .like-container {
          bottom: 0;
        }
      }

      .meal-img {
        width: 100%;
        height: 312px;
        object-fit: cover;
        vertical-align: bottom;
      }

      .like-container {
        bottom: -100%;
        display: flex;
        background-color: rgba($color: $white, $alpha: 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        align-items: center;
        justify-content: center;
        z-index: 1;

        img {
          object-fit: cover;
          width: 52px;
          height: 44px;
          cursor: pointer;
          z-index: 10;
        }
      }
    }
  }
}

.meal-post-wrap.today-meal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
  gap: 16px;

  .meal-card {
    position: relative;

    .img-container {
      .meal-img {
        width: 100%;
        height: 250px !important;
        object-fit: cover;
        vertical-align: bottom;
      }
    }
  }
}

@media (max-width: 1130px) {
  .meal-post-wrap.today-meal {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 16px;

    .meal-card {
      position: relative;

      .img-container {
        .meal-img {
          width: 100%;
          height: 250px !important;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .meal-post-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 16px;

    .meal-card {
      position: relative;

      .img-container {
        .meal-img {
          width: 100%;
          height: 230px !important;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
    }
  }
  .best-meal > div {
    &:last-child {
      display: none;
    }
  }
  .meal-post-wrap.today-meal {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 16px;

    .meal-card {
      position: relative;

      .img-container {
        .meal-img {
          width: 100%;
          height: 230px !important;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .sec-tt {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .sec-tt.wb {
    margin-top: 0px;
  }
  .w-badge {
    font-size: 14px !important;
  }
  .w-green-btn {
    font-size: 14px !important;
  }
  .w-gray-btn {
    font-size: 14px !important;
  }
  .meal-post-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 10px;

    .meal-card {
      position: relative;

      .img-container {
        .meal-img {
          width: 100%;
          height: 134px !important;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
      .meal-info {
        img {
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }
        .meal-user {
          font-size: 11px;
        }
        .like-reply-wrap {
          > div {
            display: flex;
            align-items: center;
          }
          span {
            font-size: 11px;
            line-height: 14px;
          }
          svg {
            width: 14px;
            height: 14px;
            margin-right: 3px;
          }
        }
      }
      .hashtag {
        display: none;
      }
    }
  }
  .best-meal {
    margin-bottom: 40px;
  }
  .meal-post-wrap.today-meal {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 10px;

    .meal-card {
      position: relative;

      .img-container {
        .meal-img {
          width: 100%;
          height: 134px !important;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
    }
  }

  /* weekly */
  .Calendar {
    margin: 30px 0 !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .Year-MonthList {
      color: #343a40;
      font-size: 18px;
      font-weight: 700;
    }
  }
  // meal-create
  .meal-create {
    padding: 20px 16px !important;
    > div {
      display: none;
    }
    form textarea {
      margin-left: 0;
    }
    .tag-wrap {
      gap: 10px;
      margin-bottom: 10px;
      margin-left: 0;
      flex-direction: column;
      .form-tag-wrap {
        flex-wrap: wrap;
      }
    }
  }
}

.meal-info {
  color: $gray-3;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .meal-user {
    font-size: 16px;
    font-weight: 500;
  }

  .like-reply-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    svg {
      margin-right: 10px;
    }

    span {
      line-height: 16px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.hashtag {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

// meal-create
.meal-create {
  padding: 20px 75px;
  background: $white;
  margin-top: 30px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    resize: none;
    border: none;
    margin-left: 50px;

    &:focus {
      outline: none;
    }
  }
}

.tag-wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  margin-left: 50px;
}

.tag-input {
  width: 240px;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
  background: rgba(228, 228, 228, 0.3);
  color: $gray-3;

  &:focus {
    outline: none;
  }
}

.form-tag-wrap {
  display: flex;
  gap: 10px;
  div {
    position: relative;
    .tag-del {
      width: 18px;
      height: 18px;
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -6px;
      color: #545454;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 5px 12.5px 0px rgba(0, 0, 0, 0.42);
    }
  }
}

.hidden {
  display: none;
}

.utility {
  color: $point-1;
  display: flex;
  gap: 16px;
  font-size: 14px;

  svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
  }

  span {
    vertical-align: bottom;
  }
}

hr {
  border: 1px solid $gray-1;
  margin-bottom: 15px;
}
.form-btns {
  display: flex;
  gap: 12px;
}

//  modal
.cancel-confirm {
  position: absolute;
  top: 300px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  width: 240px;
  height: 160px;
  padding: 48px 0 20px;
  box-sizing: border-box;
  border-radius: 10px;
  // box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 35px 0px;
  text-align: center;

  h2 {
    margin-bottom: 32px;
  }

  .modal-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  // width: 100%;
  width: 100vw;
  height: 100vh;
  background: rgba(94, 94, 94, 0.45);
  // background: rgba(0, 0, 0, 0.5); /* 반투명한 배경색 */
  display: flex;
  z-index: 1000;
}

// meal-view
.meal-view-bg {
  position: fixed;
  top: 0;
  left: 0;
  // width: 100%;
  width: 100vw;
  height: 100vh;
  background: rgba(94, 94, 94, 0.45);
  // background: rgba(0, 0, 0, 0.5); /* 반투명한 배경색 */
  display: flex;
  z-index: 1000;
}
.meal-view {
  background: $white;
  border-radius: 12px;
  width: 960px;
  height: 787px;
  box-sizing: border-box;
  padding: 20px 0;
  z-index: 1100;
  position: absolute;
  margin: auto auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.25);

  > div:first-child {
    border-right: 1px solid #dadada;
    padding: 0 20px;
  }

  > div {
    width: 50%;
    // padding: 0 20px;
    box-sizing: border-box;
    .meal-img-wrap {
      position: relative;

      .like-icon {
        position: absolute;
        // width: 52px;
        // height: 45px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // transform-origin: center/center;
        // background: url(../asset/like.png) no-repeat center/contain;
        transition: transform 1s ease-in-out, fill 1s ease-in-out,
          opacity 1s ease-in-out;
      }

      .like-icon {
        transform: translate(-50%, -50%) scale(1);
        // color: red;
        opacity: 0;
        animation: heartAnimation 1.5s ease-in-out;
      }

      @keyframes heartAnimation {
        0% {
          transform: translate(-50%, -50%) scale(1);
          fill: none;
          opacity: 0;
        }
        50% {
          transform: translate(-50%, -50%) scale(1.5);
          fill: $white;
          opacity: 1;
        }
        100% {
          transform: translate(-50%, -50%) scale(1);
          opacity: 0; /* 최종적으로 투명도 0으로 감소 */
          fill: $white;
        }
      }
    }

    .meal-img {
      width: 440px;
      height: 440px;
      object-fit: cover;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50px;
        top: 50px;
        background: #94dfb6;
        // background: url(../asset/like.png) no-repeat center/cover;
      }

      &.liked {
      }
    }
    .meal-info {
      margin-bottom: 10px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 16px;
      }
      .meal-user {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .reply-wrap {
    height: calc(100% - 40px);
    .meal-info {
      border-bottom: 1px solid #dadada;
      padding: 0 20px 10px 10px;
      margin-bottom: 0;

      P {
        margin-right: 8px;
      }

      > div {
        display: flex;
        align-items: center;
      }
    }
    .level-badge {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    .reply-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .reply-box {
      height: calc(100% - 24px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      > div > ul {
        height: 560px;
        overflow-y: scroll;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 562px;
          position: absolute;
          left: 0;
          top: -1px;
          bottom: 0;
          background: rgb(255, 255, 255);
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 10%,
            rgba(255, 255, 255, 0) 95%,
            rgba(255, 255, 255, 1) 100%
          );
          pointer-events: none;
        }
      }
    }

    .reply {
      color: $gray-3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px 10px 10px;

      > div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .add-nested-reply {
      font-size: 13px;
      color: $gray-2;
      margin-left: 65px;
      margin-top: -10px;
      margin-bottom: 10px;
    }

    .nested-replys {
      margin-left: 40px;
    }
  }
  .hashtag {
    position: absolute;
    bottom: 40px;
  }

  textarea {
    width: 100%;
    resize: none;
    border: none;
    border: 1px solid #f2f3f5;
    height: 70%;

    &:focus {
      outline: none;
    }
  }

  .tag-wrap {
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    flex-direction: column;
    .form-tag-wrap {
      flex-wrap: wrap;
    }
  }

  .btn-wraps {
    justify-content: end;
  }
}

.add-reply {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dadada;
  padding-top: 20px;
  padding: 20px 20px 0 10px;
  position: relative;

  input {
    border: none;

    &:focus {
      outline: none;
    }
  }

  .reply-to {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    line-height: 40px;
    font-size: 14px;
    background: #dadada;
    color: $gray-3;
    position: absolute;
    top: -40px;
    left: 0;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn-wraps {
  display: flex;
  gap: 8px;
}
.container {
  width: 100%;
  max-width: 1320px; /* 데스크톱에서 최대 너비 설정 */
  margin: 0 auto;
}
/* 1320px 이하일 때 컨테이너 크기 조정 */
@media (max-width: 1420px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }
}

/* 태블릿 스타일 */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/* 모바일 스타일 */
@media (max-width: 480px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  // calories
  .chart-wrap {
    position: relative;
    display: flex;
    justify-content: center;

    .modal-overlay {
      z-index: 100;
    }

    .chart {
      width: 95%;
      padding: 40px 0;
    }
  }

  .calories-table {
    font-size: 14px;
    th,
    td {
      padding: 0 16px;
    }
  }

  .pagination .pagination .page-item {
    font-size: 11px;
  }

  .head-banner {
    height: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 16px;
    border-radius: 10px;

    p {
      font-size: 13px;
      margin: 16px 0 6px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 30px;
    }
  }

  .banner-img {
    width: 156px;
    height: 121px;
    object-fit: cover;
  }

  .search-bar form {
    width: 648px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #32a061;
    display: flex;
    padding: 14px 20px;
    box-sizing: border-box;
    margin: 20px 0 30px;
  }

  .recom-list {
    width: 100%;
    height: 260px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 6px;
    }

    p {
      font-size: 12px;
      margin-bottom: 16px;
    }
  }
}
