//common
@import 'common';

//layout
section+section{
  margin-top: $unit-2;
}

//title
h5{
  font-size: $font-20;
  font-weight: bold;
  margin-bottom: 40px;
}
h6{
  font-size: 18px;
  font-weight: bold;
}

//profile
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

//level-badge
.level-badge{
  width: 48px;
  height: 48px;
}

//area-top
.area-middle-top{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  h5{
    margin: 0;
  }
  //button
  .buttons{
    display: flex;
    gap: 20px;

    .button{
      border: 1px solid $point-1;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background-color: transparent;
      transition: 0.3s ease-in background-color;
      &:hover{
        background-color: $point-1;
      }
      .icon{
        color:$point-1;
        font-size: 24px;
        transition: 0.3s ease-in color;
      }
      &:hover .icon{
        color:$white;
      }
    }
  }
}

//area-middle
.area-middle{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

//area-middle-middle
.area-middle-middle{
  display: flex;
  gap:100px;
}

//area-right
.area-right{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

//profile-card
.profile-card{
  display: inline-block;
  padding: 34px;
  background-color: $white;
  box-sizing: border-box;
  .profile-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .about-user{
    width: 100%;
    ul{
      padding-top: $unit-s-3;
      li{
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      li+li{
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid $gray-2;
      }
    }
  }
  .user-info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
}

//today
.today_content{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
  //today-weekly
  .Calendar{
    margin: 0;
    .Year-MonthList p{
      font-weight: bold;
      margin-bottom: 10px;
      // text-align: center;
    }
  }
}

//today-cards
.today{
  h5{
    text-align: center;
    margin-bottom: 40px;
  }
}
.today-cards{
  display: flex;
  gap: 20px;
}
%today-card{
  display: flex;
  background-color: $white;
  padding:30px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  transition: 0.3s;
  &:hover{
    background-color: rgba(255,255,255,.8);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
  }
}
.today-card-big{
  @extend %today-card;
  width: 310px;
  .weather{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    .weather-text{
      display: flex;
      flex-direction: column;
      gap: 10px;
      p{
        width: 74px;
        display: flex;
        justify-content: space-between;
      }
    }
    .weather-icon{
      object-fit: cover;
      width: 60px;
    }
  }
}
.today-card{
  @extend %today-card;
  gap: 20px;
  width: 130px;
  height: 160px;
  .sticker{
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

//goal-card
.goal-card{
  background-color: $white;
  display: flex;
  gap: 20px;
  padding: 20px 140px;
  &+.goal-card{
    margin-top: 20px;
  }
  p{
    font-weight: 700;
    display: flex;
    gap:10px;
  }
}

//recommand
.recommand{
  display: flex;
  align-items: center;
  justify-content: space-between;
  h5{
    margin: 0;
  }
  .recommand-btns{
    display: flex;
    align-items: start;
    gap: 20px;
  }
}

//chart
.chart-container{
  position: relative;
  button{
    position: absolute;
    top:50%;
    right: -10px;
    transform: translateX(100%);
  }
}






