//common
@import "common";

//a
a.login-btn {
  color: $point-1;
  transition: 0.3s;
  &:hover {
    color: $white;
  }
}

//layout
.Signin,
.Login {
  margin: $unit-3 0 $unit-8;
  padding: 150px 0;
}

//form
.Signin, .Login {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label {
      display: none;
    }
    input {
      display: block;
      border: 1px solid $point-1;
      width: 400px;
      height: 48px;
      padding: 15px 30px;
      box-sizing: border-box;
      background-color: transparent;
      border-radius: 24px;
      margin-bottom: 10px;
      &::placeholder {
        color: $point-1;
        opacity: 0.5;
      }
      &:focus {
        outline: none;
        border-color: $point-1;
        box-shadow: 0 0 5px $point-1;
      }
    }
    button {
      margin-top: 20px;
    }
  }
}

//login
.already,
.google {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $point-1;
  gap: 20px;
}

.Signin {
  .already {
    margin-top: 40px;
  }
  .google {
    margin-top: 10px;
  }
}

.Login {
  .already {
    margin-top: 10px;
  }
  .google {
    margin-top: 40px;
  }
}
